$metascore-color: rgb(0, 0, 254);

$scrollbar-width: 8px;
$scrollbar-track-color: #818181;
$scrollbar-thumb-color: #d8d8d8;
$scrollbar-thumb-active-color: $metascore-color;
$scrollbar-thumb-min-height: 8px;
