:local(.className){
    text-align: center;
    cursor: pointer;

    .icon{
        pointer-events: none;

        &::before{
            vertical-align: middle;
        }
    }

    .label + .icon{
        margin-left: 0.5em;
    }
}