@import "../../theme";

:local(.className){
    position: absolute;
    z-index: 999;
    box-shadow: 0.25em 0.25em 0.5em 0 rgba(0,0,0,0.5);

    ul{
        min-width: 150px;
        margin: 0;
        padding: 0.25em 0;
        list-style: none;
        background: $darkgray;
        border: 1px solid rgba(0, 0, 0, 0.1);

        li{
            position: relative;
            padding: 0.2em 0.5em;
            white-space: nowrap;
            color: #fff;
            cursor: pointer;

            &:hover{
                background: $mediumgray;
            }

            &:active{
                color: #000;
                background: $lightgray;
            }

            &.no-callback{
                cursor: default;
                pointer-events: none;
            }

            &.disabled{
                display: none;
            }

            &.separator{
                height: 1px;
                margin: 0.25em;
                padding: 0;
                background: rgba(0, 0, 0, 0.25);
                pointer-events: none;
            }

            &.has-subitems{
                pointer-events: all;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 1em;
                    width: 0;
                    height: 0;
                    margin-top: -0.1em;
                    border-width: 0.4em 0 0.4em 0.4em;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                    transform: translateY(-50%);
                    opacity: 0.75;
                }

                ul{
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 99%;
                    z-index: 1;
                }

                &:hover{
                    &::after {
                        opacity: 1;
                    }

                    > ul{
                        display: block;

                        &.left{
                            left: auto;
                            right: 99%;
                        }
                    }
                }
            }
        }
    }
}