:local(.body-class-name) * {
    user-select: none;
    pointer-events: none;
}

:local(.class-name) {
    &.drag-handle,
    .drag-handle {
        cursor: move;
    }
}

:local(.guide-class-name) {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 0, 0, 0.5);
    pointer-events: none;
    z-index: 999;

    &[data-axis='x'] {
        width: 1px;
        height: 100%;
    }

    &[data-axis='y'] {
        width: 100%;
        height: 1px;
    }
}
