:local(.className){
    display: flex;

    input{
        margin: 0;
        padding: 0;
        border: none;
        font-family: inherit;
    }

    &:focus{
        outline: none;
    }

    &.readonly{
        pointer-events: none;
        opacity: 0.75;
        cursor: default;
    }

    &.disabled{
        opacity: 0.25;
        cursor: default;
    }
}