@import '../../theme';

:local(.class-name) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    > .inner {
        position: relative;
        background: $lightgray;

        > .toolbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em;
            color: #fff;
            font-weight: 500;
            background-color: $darkgray;

            button {
                color: #fff;
            }
        }

        > .body {
            > .contents {
                max-height: 75vh;
                overflow: auto;
                text-align: center;
                padding: 1em;

                .text-wrapper {
                    max-width: 50vw;
                    max-height: 50vh;
                    color: #fff;
                    vertical-align: middle;
                    overflow-y: auto;
                }

                &:empty {
                    display: none;
                }
            }

            > .buttons {
                text-align: center;
                padding: 0.5em 1em 1em;

                button {
                    min-width: 60px;
                    margin: 0 0.5em;
                    padding: 0.5em;
                    background: #fff;
                    border: 0;
                    opacity: 1;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.75;
                    }

                    &:active {
                        opacity: 0.5;
                    }

                    &[data-action='cancel'] {
                        background: #aaa;
                    }

                    .label {
                        pointer-events: none;
                    }
                }

                &:empty {
                    display: none;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    &.modal {
        background: rgba(0, 0, 0, 0.6);
        pointer-events: auto;

        > .inner {
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 0.25em;
            box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
        }
    }
}
