.waveform{
    .layers{
        position: relative;

        .layer{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .overview{
        position: relative;

        .layers{
            height: 30px;
        }
    }

    .zoom{
        position: relative;
        overflow: hidden;
        overflow-x: auto;

        .layers{
            height: 150px;
        }
    }
}