.waveform{
    position: relative;
    overflow: hidden;
    overflow-x: auto;

    .layers{
        position: relative;

        .layer{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}