@import "../../../../theme";

:local(.className){
    display: flex;
    flex-direction: column;
    background: #eee;

    .draggable-input{
        position: relative;
        border-radius: 0.5em;
        cursor: pointer;

        .thumb{
            position: absolute;
            width: 1em;
            height: 1em;
            transform: translateX(-50%) translateY(-50%);
            box-sizing: border-box;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
            cursor: grab;
        }
    }

    .top{
        .palette{
            min-width: 220px;
            height: 130px;
            margin-bottom: 0.5em;
            border-radius: 0;

            .thumb{
                transform: translateX(-50%) translateY(50%);
            }
        }
    }

    .middle{
        display: flex;
        flex-direction: row;
        padding: 0.5em 1em;

        .preview{
            position: relative;
            width: 2em;
            height: 2em;
            margin-right: 1em;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../../../../img/core/ui/input/color/transparency-grid.svg');
                background-size: auto;
                background-size: .5em;
                z-index: -1;
            }
        }

        .sliders{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 auto;

            .draggable-input{
                height: 0.5em;
                background: linear-gradient(90deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);

                .thumb{
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                &.hue{
                    background: linear-gradient(90deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);
                }

                &.opacity{
                    background: linear-gradient(90deg, transparent, #000), url('../../../../../img/core/ui/input/color/transparency-grid.svg');
                }
            }
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        padding: 0.5em 0.75em;

        button{
            margin: 0 0.25em;
            padding: 0.25em 0.5em;
            color: #fff;

            &[data-action="save"]{
                margin-right: auto;
                background: $darkgray;
            }

            &[data-action="reset"],
            &[data-action="cancel"]{
                background: $lightgray;
            }
        }
    }
}
