@import "../../../../theme";

:local(.className){
    background: $lightgray;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.75);

    .inner{
        display: flex;
        flex-direction: column;

        .draggable-input{
            position: relative;
            border-radius: 0.5em;

            .thumb{
                position: absolute;
                width: 1em;
                height: 1em;
                transform: translateX(-50%) translateY(-50%);
                box-sizing: border-box;
                border: 2px solid #fff;
                border-radius: 50%;
                box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
            }

            &.palette{
                width: 200px;
                height: 125px;
                margin-bottom: 0.5em;
                border-radius: 0;

                .thumb{
                    transform: translateX(-50%) translateY(50%);
                }
            }

            &.hue{
                height: 0.5em;
                margin: 0.5em 1em;
                background: linear-gradient(90deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);

                .thumb{
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }

            &.opacity{
                height: 0.5em;
                margin: 0.5em 1em;
                background: linear-gradient(90deg, transparent, #000), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');

                .thumb{
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }

        .buttons{
            margin: 1em;
        }
    }
}
