@import '../../../../theme';

:local(.class-name) {
    display: flex;
    flex-direction: column;

    .top {
        display: grid;
        grid-template-columns: repeat(15, 1fr);

        .swatch {
            padding: 0;
            border: 1px solid $darkgray;
            margin: 0 -1px -1px 0;
            cursor: pointer;

            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                padding-top: 100%;
                background-color: currentColor;
                vertical-align: bottom;
                transition: all 0.1s;
            }

            &:hover {
                &::after {
                    transform: scale(1.5);
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0.5em 0.75em;

        button {
            margin: 0 0.25em;
            padding: 0.25em 0.5em;
            color: #fff;
            background: $lightgray;
        }
    }
}
