@import "../../../../theme";

:local(.className){
    display: flex;
    flex-direction: column;
    background: #eee;

    .top {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 0.5em;

        .swatch {
            padding: 0;
            border: 1px solid rgba(0,0,0,0.25);
            margin: 0 -1px -1px 0;
            transition: all 0.1s;
            cursor: pointer;

            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                padding-top: 100%;
            }

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0.5em 0.75em;

        button{
            margin: 0 0.25em;
            padding: 0.25em 0.5em;
            color: #fff;
            background: $lightgray;
        }
    }
}
