@metascore-blue:rgb(0, 0, 254);

@editor-background: #777;
@editor-borders: #3f3f3f;

@scrollbar-track-color: #d8d8d8;
@scrollbar-width: 8px;
@scrollbar-thumb-color: #818181;
@scrollbar-thumb-active-color: @metascore-blue;
@scrollbar-thumb-min-height: 8px;


@block-color: rgb(51,49,47);
@cursor-color: rgb(255,0,60);
@image-color: rgb(255,138,0);
@text-color: rgb(0,193,118);