@import "../../theme";

:local(.className){
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .import-assets{
        display: block;

        label{
            display: block;
            padding: 0.5em;
            background: $lightgray;
            margin-bottom: 0.25em;
            user-select: none;
            cursor: pointer;

            .icon{
                float: left;
                font-size: 1.5em;
                margin-right: 0.5em;
            }
        }

        .input{
            display: none;
        }
    }

    .assets-container{
        flex: 1 1 auto;
        overflow-y: auto;

        .asset{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2em;
            padding: 0.25em;
            cursor: grab;

            figure{
                flex: 0 0 2em;
                margin: 0;
                pointer-events: none;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);
                }

                .icon{
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
                }
            }

            .label{
                flex: 1 1 auto;
                padding: 0 0.25em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
            }

            .buttons{
                flex: 0 0 auto;

                button{
                    color: #fff;
                }
            }
        }
    }

    a.component-link{
        position: relative;
        display: block;
        padding: 0.25em 0.5em 0.25em 3em;
        line-height: 2em;
        color: #fff;
        background: $lightgray;
        margin-top: 0.25em;
        user-select: none;
        white-space: nowrap;
        cursor: pointer;

        .icon{
            position: absolute;
            top: 0;
            left: 0.5em;
            width: 2em;
            height: 100%;
            margin-right: 0.5em;
        }

        &[data-action="create-synced-block"],
        &[data-action="create-non-synced-block"],
        &[data-action="create-page"]{
            .icon{
                filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
            }
        }
    }

    &.droppable{
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            box-shadow: inset 0 0 0.5em 0 #fff;
            border: 2px #fff dashed;
        }
    }

    .overlay.loadmask{
        position: absolute;
    }
}

:local(.assetDragGhostClassName),
:local(.componentLinkDragGhostClassName){
    position: absolute;
    top: 0;
    right: 100%;
    width: 2em;
    height: 2em;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .icon{
        width: 100%;
        height: 100%;
    }
}