@import "../theme";

:local(.className){
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    flex-direction: column;

    .import-assets{
        label{
            display: block;
            padding: 0.5em;
            background: $lightgray;
            margin-bottom: 0.25em;
            line-height: 2em;
            user-select: none;
            cursor: pointer;
        }

        .input{
            display: none;
        }
    }

    .assets-container{
        flex: 1 1 auto;
        overflow-y: auto;

        .asset{
            display: flex;
            flex-direction: row;
            line-height: 2em;
            padding: 0.25em;

            .label{
                flex: 1 1 auto;
                padding: 0.25em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
                cursor: grab;
            }

            .buttons{
                flex: 0 0 auto;
            }
        }
    }

    a.component-link{
        display: block;
        padding: 0.5em;
        color: #fff;
        background: $lightgray;
        margin-top: 0.25em;
        line-height: 2em;
        user-select: none;
        cursor: pointer;
    }

    &.droppable{
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            box-shadow: inset 0 0 0.5em 0 #fff;
            border: 2px #fff dashed;
        }
    }
}