@import '../../theme';

:local(.className) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $lightgray;

    .assets-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5em, 20%));
        overflow-y: auto;
        padding: 1em;

        .asset {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: 1em;

            figure {
                position: relative;
                margin: 0;
                background: $mediumgray;

                > * {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &::before {
                    position: relative;
                    content: '';
                    display: block;
                    padding-top: 100%;
                }

                .buttons {
                    display: none;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    button {
                        min-width: 50%;
                        padding: 0.5em;
                        background: #fff;
                        border-radius: 5em;
                        box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);
                    }
                }

                &:hover {
                    .buttons {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }
                }
            }

            .label {
                padding: 0.5em 0;
                text-align: center;
                user-select: none;
            }
        }
    }

    .overlay.loadmask {
        position: absolute;
    }
}

:local(.toolbarClassName) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: $lightgray;
    margin-left: 0.25em;

    .input {
        margin: 0 0.25em;

        &.text {
            position: relative;
            flex: 1 1 auto;
            max-width: 30em;
            min-width: 10em;

            input {
                width: 100%;
                padding: 0.5em 1em 0.5em 2.5em;
                border: 0;
                border-radius: 4em;
                background: #282828;
                color: #fff;
                box-sizing: border-box;

                &::placeholder {
                    color: $lightgray;
                }
            }

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 2.5em;
                height: 100%;
                padding: 0.75em;
                color: $lightgray;
                box-sizing: border-box;
            }
        }
    }

    button {
        margin-left: auto;
        color: #fff;
    }
}
