@font-face {
    font-family: "metascore-icons";
    src: url("./metascore-icons.eot?520cd79fa454de149a7dfe93f41d1bb6?#iefix") format("embedded-opentype"),
url("./metascore-icons.woff2?520cd79fa454de149a7dfe93f41d1bb6") format("woff2"),
url("./metascore-icons.woff?520cd79fa454de149a7dfe93f41d1bb6") format("woff"),
url("./metascore-icons.ttf?520cd79fa454de149a7dfe93f41d1bb6") format("truetype"),
url("./metascore-icons.svg?520cd79fa454de149a7dfe93f41d1bb6#metascore-icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: metascore-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
    content: "\f101";
}
.icon-play:before {
    content: "\f102";
}
.icon-rewind:before {
    content: "\f103";
}
