@font-face {
    font-family: "metascore-icons";
    src: url ("metascore-icons.eot?e5b5a6af7b45c251eb010ca922aa3798?#iefix") format("embedded-opentype"),
url ("metascore-icons.woff2?e5b5a6af7b45c251eb010ca922aa3798") format("woff2"),
url ("metascore-icons.woff?e5b5a6af7b45c251eb010ca922aa3798") format("woff"),
url ("metascore-icons.ttf?e5b5a6af7b45c251eb010ca922aa3798") format("truetype"),
url ("metascore-icons.svg?e5b5a6af7b45c251eb010ca922aa3798#metascore-icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: metascore-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\f101";
}
