@import "./theme";

:local(.className){
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background: $mediumgray;

    .top{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 0 0 auto;

        .tabs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 0 0 auto;
            width: 100%;

            button{
                flex: 1 1 auto;
                padding: 0.5em;
                color: #fff;
                background: $mediumgray;
                margin-bottom: 0.25em;
                line-height: 2em;
                user-select: none;

                &.active{
                    pointer-events: none;
                    background: $lightgray;
                    outline: none;
                }
            }
        }

        .toolbar{
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            align-items: center;
            justify-content: space-between;
            background: $lightgray;
            margin-left: 0.25em;

            .filters{
                display: flex;
                flex-direction: row;
                flex: 0 1 50%;

                .input{
                    margin: 0 0.5em;

                    &.text{
                        flex: 1 1 auto;

                        input{
                            width: 100%;
                            padding: 0.5em 1em;
                            box-sizing: border-box;
                            border: 0;
                            border-radius: 5em;
                            background: #282828;
                            color: #fff;

                            &::placeholder {
                                color: $lightgray;
                            }
                        }
                    }
                }
            }
        }
    }
}