@import "./theme";

:local(.className){
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background: $mediumgray;

    .tabs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 auto;

        button{
            flex: 1 1 auto;
            padding: 0.5em;
            color: #fff;
            background: transparent;
            margin-bottom: 0.25em;
            line-height: 2em;
            user-select: none;

            &.active{
                background: $lightgray;
            }
        }
    }

    .draggable-links{
        a{
            display: block;
            padding: 0.5em;
            color: #fff;
            background: $lightgray;
            margin-top: 0.25em;
            line-height: 2em;
            user-select: none;
            cursor: grab;
        }
    }
}