@import "./theme";

:local(.className){
    position: relative;

    .fields{
        padding: 0.5em;

        .field{
            > label{
                padding: 0.25em;
                font-size: 1.25em;
                color: #fff;
                white-space: nowrap;
            }

            .input{
                display: inline-block;

                input{
                    margin: 0;
                    padding: 0;
                    border: none;
                }

                &.text{
                    input{
                        background: $darkgray;
                    }
                }
            }

            &[data-name="name"]{
                > label{
                    display: none;
                }
            }

            &.warning{
                label{
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0.25em;
                        pointer-events: none;
                        background: url('../../img/editor/field/warning.svg') no-repeat right center;
                        background-size: 1em;
                    }
                }
            }

            &.buttons.field{
                .input{
                    background-repeat: repeat;

                    button{
                        float: left;
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center center;

                        &.pressed{
                            background-color: #aaaaaa;
                        }
                    }
                }
            }

            &.fontStyle{
                border-bottom: none;
            }
        }
    }
}