@import "../theme";

:local(.className){
    $top-height: 2.5em;
    $sticky-height: 8em;
    $left-width: 12em;
    $left-min-width: 8em;

    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    > .top {
        display: flex;
        flex-direction: row;
        flex: 0 0 $top-height;
        border-bottom: 2px solid $darkgray;

        .time.input{
            display: flex;
            flex: 0 0 $left-width;
            box-sizing: border-box;
            border-right: 2px solid $darkgray;

            button[data-action="play"]{
                display: none;
                order: 0;
                flex: 0 0 $top-height;
                background: #fff;

                .icon{
                    color: $darkgray;
                }
            }

            input{
                flex: 1 1 auto;
                order: 1;
                height: 100%;
                padding: 0;
                text-align: center;
                color: #fff;
                letter-spacing: .05em;
            }
        }

        .overview {
            display: flex;
            flex-direction: column;
            flex: 1;

            .buffer-indicator{
                height: 15%;
            }

            .waveform-overview{
                flex-grow: 1;
            }

        }

        .zoom-controls{
            background: $darkgray;
        }

    }

    > .bottom {
        flex: 1 1 auto;
        overflow-y: scroll;

        > .sticky{
            position: sticky;
            top: 0;
            height: $sticky-height;
            display: flex;
            flex-direction: row;
            background: $lightgray;
            border-bottom: 2px solid $darkgray;
            z-index: 1;

            > .controls {
                width: $left-width;
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-right: 2px solid $darkgray;

                button{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    background-repeat: no-repeat;

                    &[data-action="rewind"]{
                        flex: 0 0 2em;
                        margin-right: 0.5em;

                        .icon{
                            color: #fff;
                            filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.75))
                        }
                    }

                    &[data-action="play"]{
                        flex: 0 0 4em;
                        height: 4em;
                        background: #fff;
                        border-radius: 50%;
                        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
                        margin-right: 2.5em;

                        .icon{
                            height: 100%;
                            color: $darkgray;
                        }
                    }
                }
            }

            .waveform-zoom {
                flex: 1 1 auto;
            }
        }

        .timeline{
            z-index: 0;

            .handles-container{
                width: $left-width;
                flex: 0 0 auto;

                .handle{
                    border-right: 2px solid $darkgray;
                }
            }

            .tracks-container {
                flex: 1 1 auto;
            }
        }
    }

    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}