#waveform{
    border-top: 2px solid #ccc;

    .overview{
        overflow-x: hidden;
        border-bottom: 1px solid #ccc;

        .layers{
            height: 20px;
        }
    }

    .zoom{
        .layers{
            height: 100px;
        }
    }
}