@import "../theme";

:local(.className){
    $top-height: 2.5em;
    $left-width: 12em;
    $left-min-width: 8em;
    $bottom-sticky-top-height: 8em;
    $bottom-sticky-bottom-height: 1.5em;

    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;

    > .top {
        display: flex;
        flex-direction: row;
        flex: 0 0 $top-height;
        border-bottom: 2px solid $darkgray;

        .time.input{
            display: flex;
            flex: 0 0 $left-width;
            box-sizing: border-box;
            border-right: 2px solid $darkgray;

            button[data-action="play"]{
                display: none;
                order: 0;
                flex: 0 0 $top-height;
                background: #fff;

                .icon{
                    color: $darkgray;
                }
            }

            input{
                flex: 1 1 auto;
                order: 1;
                height: 100%;
                padding: 0;
                text-align: center;
                color: #fff;
                border-radius: 0;
                letter-spacing: .05em;
            }
        }

        .overview {
            display: flex;
            flex-direction: column;
            flex: 1;

            .buffer-indicator{
                height: 15%;
            }

            .waveform-overview{
                flex-grow: 1;
            }

        }
    }

    > .middle {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        overflow-y: scroll;

        > .sticky-top{
            position: sticky;
            top: 0;
            width: 100%;
            height: $bottom-sticky-top-height;
            display: flex;
            flex-direction: row;
            background: $lightgray;
            border-bottom: 2px solid $darkgray;
            z-index: 1;

            > .left{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: $left-width;
                flex: 0 0 auto;
                box-sizing: border-box;
                border-right: 2px solid $darkgray;

                .controls {
                    display: flex;
                    padding: 1em 0.5em 0 0.5em;
                    flex-direction: row;
                    justify-content: center;
                    align-content: space-evenly;
                    align-items: center;
                    flex: 1 1 auto;
                    flex-wrap: wrap;

                    button{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        background-repeat: no-repeat;

                        &[data-action="rewind"]{
                            flex: 0 0 2em;
                            margin-right: 0.5em;

                            .icon{
                                color: #fff;
                                filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.75))
                            }
                        }

                        &[data-action="play"]{
                            flex: 0 0 4em;
                            height: 4em;
                            background: #fff;
                            border-radius: 50%;
                            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
                            margin-right: 2.5em;

                            .icon{
                                height: 100%;
                                color: $darkgray;
                            }
                        }

                        &[data-action="file"]{
                            width: 100%;
                            margin-top: 1em;
                            padding: 0 .5em;
                            font-size: 0.8em;
                            color:#fff;
                            overflow: hidden;
                            transition: none;

                            .label{
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                user-select: none;
                            }
                        }
                    }
                }
            }

            > .right{
                flex: 1 1 auto;

                .waveform-zoom{
                    height: 100%;
                }
            }
        }

        .timeline{
            background: $darkgray;
            z-index: 0;

            .handles-container{
                width: $left-width;
                flex: 0 0 auto;
            }

            .tracks-container {
                flex: 1 1 auto;
            }
        }
    }

    > .bottom{
        height: $bottom-sticky-bottom-height;
        display: flex;
        flex-direction: row;
        background: $mediumgray;
        border-top: 1px solid $darkgray;
        z-index: 1;

        .scenario-selector{
            flex: 1 1 auto;
        }

        .zoom-controls{
            flex: 0 0 auto;
            background: $darkgray;
        }
    }

    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}