.field{
    .input-wrapper{
        position: relative;

        .buttons{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: none;
            background-color: rgb(238, 238, 238);

            button{
                display: inline-block;
                width: 25px;
                height: 100%;
                padding: 0;
                overflow: hidden;
                text-indent: 999px;
                background-repeat: no-repeat;
                background-position: center center;

                &:hover{
                    background-color: rgb(204, 204, 204);
                    opacity: 1;
                }

                &[data-action="clear"]{
                    background-image: url('../../img/editor/field/clear.svg');
                    background-size: 1.5em;
                }
            }
        }
    }

    &:hover{
        .input-wrapper{
            .buttons{
                display: block;
            }
        }
    }

    &:focus{
        outline: none;
    }

    .description{
        opacity: 0.5;
    }

    &.required{
        label::after{
            content: '*';
            color: red;
        }
    }

    &.readonly{
        .input-wrapper{
            opacity: 0.75;
            cursor: default;
        }
    }

    &.disabled{
        opacity: 0.25;
        cursor: default;

        .buttons{
            pointer-events: none;
        }
    }
}