:local(.className){
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .description{
        opacity: 0.5;
    }

    .input.required ~ label {
        &::after{
            content: '*';
            color: red;
        }
    }
}