:local(.className) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    outline: none;

    label {
        user-select: none;
    }

    .description {
        opacity: 0.5;
    }

    .input.required ~ label {
        &::after {
            content: '*';
            color: red;
        }
    }
}
