:local(.class-name) {
    > .inner {
        flex: 1 1 auto;
        max-width: 75vw;

        > .body {
            > .contents {
                color: #fff;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 2em;
            }
        }
    }

    .hotkeys {
        display: grid;
        grid-template-columns: min-content auto;
        flex: 1 1 auto;
        text-align: left;
        padding-bottom: 2em;

        .title {
            grid-column: 1 / span 2;
            white-space: nowrap;

            h2,
            p {
                margin: 0;
            }
        }

        .header {
            padding: 0.5em 1em 0.5em 0;
            border-bottom: 2px solid #fff;
            white-space: nowrap;
        }

        .combos,
        .description {
            padding: 0.5em 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }

        .combos {
            padding-right: 1em;
            white-space: nowrap;

            kbd {
                font-family: inherit;

                &.combo {
                    kbd.key {
                        display: inline-block;
                        color: #000;
                        text-align: center;
                        line-height: 1em;
                        padding: 0.25em 0.5em;
                        border-radius: 0.25em;
                        background: #f7f7f7;
                        border: 1px solid #bbb;
                    }

                    .key-separator {
                        margin: 0.1em;
                    }
                }
            }

            .combo-separator {
                margin: 0.5em;
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        > .inner {
            > .body {
                > .contents {
                    flex-wrap: nowrap;
                }
            }
        }
    }
}
