@import "../theme";

:local(.className){
    display: flex;
    padding: 0 20px;
    align-content: space-between;
    align-items: center;

    > .separator{
        flex: 1;
    }

    > button,
    > .checkbox.field,
    .button-group button{
        width: 1.75em;
        height: 1.6em;
        flex: 0 0 auto;
        margin: 0 0.75em;
        vertical-align: middle;
    }
}