:local(.className){
    position: relative;

    .toolbar{
        display: flex;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid #d7d7d7;
        background-color: #fefefe;
        background-image: linear-gradient(to bottom, #fefefe 0%, #fcfcfc 32%, #fafafa 36%, #f3f3f3 100%);

        .title{
            flex: none;
            padding-left: 12px;
            margin-right: 5px;
            font-weight: bold;
            line-height: 18px;
            background: transparent url('../../img/editor/panel/expanded.svg') no-repeat left center;
            background-size: 1em;
            user-select: none;
            cursor: pointer;
            opacity: 0.8;
        }

        .selector{
            flex: auto;
            margin-right: 5px;

            select{
                width: 100%;
                background: none;
                border: none;

                &:empty{
                    display: none;
                }
            }
        }

        .buttons{
            flex: none;

            button{
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center center;
                vertical-align: middle;
                background-size: 1.25em;

                &[data-action="previous"]{
                    background-image: url('../../img/editor/panel/previous.svg');
                }
                &[data-action="next"]{
                    background-image: url('../../img/editor/panel/next.svg');
                    margin-left: -1px;
                }

                &:hover{
                    opacity: 0.5;
                }
            }

            .menu{
                display: inline-block;
                position: relative;
                width: 16px;
                height: 16px;
                margin-left: 10px;
                padding-bottom: 2px;
                background-repeat: no-repeat;
                background-position: center center;
                vertical-align: middle;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: url('../../img/editor/panel/menu.svg') no-repeat center center;
                    background-size: 1.25em;
                }

                .dropdown-menu{
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    background: #fff;
                    z-index: 999;
                    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
                    cursor: default;

                    li{
                        display: block;
                        min-width: 50px;
                        margin-bottom: -1px;
                        padding: 3px 4px;
                        font-size: 0.8em;
                        border: 1px solid #ccc;
                        text-align: right;
                        white-space: nowrap;
                        cursor: pointer;

                        &:hover{
                            background: #eee;
                        }

                        &:active{
                            opacity: 0.75;
                        }

                        &.disabled{
                            pointer-events: none;
                            background: none;
                            opacity: 0.5;
                        }
                    }
                }

                &:hover{
                    opacity: 1;

                    &::after {
                        opacity: 0.5;
                    }

                    .dropdown-menu{
                        display: block;
                    }
                }
            }
        }
    }

    .fields{
        display: table;
        width: 100%;
        font-size: 0.9em;
        background: #fff;
        border-collapse: collapse;

        .field{
            display: table-row;
            border-bottom: 1px solid #b2b2b2;

            > label{
                display: table-cell;
                width: 130px;
                padding: 5px;
                color: #7b7b7b;
                border-right: 1px solid #d7d7d7;
                white-space: nowrap;
            }

            .input-wrapper{
                display: table-cell;
                margin: 0;
                padding: 0;
                vertical-align: middle;

                input{
                    width: 100%;
                    height: 24px;
                    margin: 0;
                    padding: 0;
                    border: none;

                    &[type="checkbox"]{
                        width: auto;
                    }
                }
            }

            &.warning{
                label{
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0.25em;
                        pointer-events: none;
                        background: url('../../img/editor/field/warning.svg') no-repeat right center;
                        background-size: 1em;
                    }
                }
            }

            &.buttons.field{
                .input-wrapper{
                    background-repeat: repeat;

                    button{
                        float: left;
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center center;

                        &.pressed{
                            background-color: #aaaaaa;
                        }
                    }
                }
            }

            &.fontStyle{
                border-bottom: none;
            }
        }
    }

    &.has-component{
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 999;
            animation: pulsate 0.5s ease-out 2 alternate;
            pointer-events: none;
        }
    }

    &.locked{
        .image.field{
            button[data-action="resize"]{
                opacity: 0.25;
                cursor: default;
                pointer-events: none;
            }
        }
    }

    &.collapsed,
    &:not(.has-component),
    &.disabled{
        .toolbar{
            .title{
                background-image: url('../../img/editor/panel/collapsed.svg');
            }
        }

        .fields{
            display: none;
        }
    }

    &:not(.has-component),
    &.disabled{
        .toolbar{
            .title{
                pointer-events: none;
            }
        }
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}