@import "../theme";

:local(.className){
    position: relative;

    .tracker{
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
    }

    &[data-axis="x"]{
        width: 100%;
        height: 20px;

        .tracker{
            width: 1px;
            height: 100%;
        }
    }

    &[data-axis="y"]{
        width: 20px;
        height: 100%;

        .tracker{
            width: 100%;
            height: 1px;
        }
    }
}