@import "../core/theme";

$lightgray: #777;
$mediumgray: #606060;
$darkgray: #3f3f3f;

$scrollbar-track-color: #d8d8d8;
$scrollbar-width: 8px;
$scrollbar-thumb-color: #818181;
$scrollbar-thumb-active-color: $metascore-color;
$scrollbar-thumb-min-height: 8px;