:local(.class-name) {
    position: relative;

    .layers {
        overflow: hidden;
        position: relative;
        height: 25px;

        .layer {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
