@import "../../theme";

:local(.className){
    display: flex;
    flex-direction: row;
    background: $mediumgray;
    padding: 0.25em;
    font-size: 0.75em;

    .buttons{
        flex: 0 0 auto;

        button{
            padding: 0;
            font-size: 0.75em;
            color: #fff;

            &[data-action="previous"]{
                .icon{
                    transform: rotate(180deg);
                }
            }
        }
    }

    .list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li{
            margin: 0 0.25em;
            padding: 0 0.25em;
            opacity: 0.5;
            border-bottom: 1px solid transparent;
            white-space: nowrap;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }

            &.active{
                opacity: 1;
                border-color: #fff;
                cursor: default;
            }
        }
    }
}