@import "../../theme";

:local(.className){
    display: flex;
    flex-direction: row;
    background: $mediumgray;

    .handles-container{
        padding: 1px 0;
    }

    .tracks-container {
        position: relative;
        padding: 1px 0;

        .tracks-container-outer{
            position: absolute;
            width: 100%;
            min-height: 100%;
            overflow: hidden;

            .playhead{
                position: fixed;
                pointer-events: none;
            }

            .snap-guide{
                margin-top: 0;
            }
        }
    }
}

:local(.handleDragGhostClassName){
    position: absolute;
    top: 0;
    right: 100%;
    background: $mediumgray;
}