@import "../../theme";

:local(.className){
    display: flex;
    flex-direction: row;
    background: $mediumgray;

    .tracks-container {
        position: relative;

        .tracks-container-outer{
            position: absolute;
            width: 100%;
            min-height: 100%;
            overflow: hidden;

            --tracks-container-width: 100%;

            .snap-guide{
                margin-top: 0;
            }

            .tracks-container-inner{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding-bottom: 2px;
            }
        }

        .playhead{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            pointer-events: none;
        }
    }

    .handles-container{
        background: $mediumgray;
        padding-bottom: 2px;

        > .handle{
            border-right: 2px solid $darkgray;
        }
    }
}

:local(.handleDragGhostClassName){
    position: absolute;
    top: 0;
    right: 100%;
    background: $mediumgray;
    z-index: 99;

    > .inner{
        > .togglers{
            display: none;
        }
    }
}