@import "../../theme";
@import "../variables.scss";

:local(.className){
    position: relative;
    display: flex;
    flex-direction: row;
    background: $darkgray;
    z-index: 0;

    .tracks-container {
        display: grid;
        grid-template-columns: $controller-left-width auto;
        flex: 1;
    }

    .playhead{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: $controller-left-width;
        pointer-events: none;
        z-index: 3;
    }
}

:local(.dragGhostClassName){
    position: absolute;
    top: 0;
    right: 100%;
    background: $mediumgray;
    z-index: 99;

    > .handle{
        > .togglers{
            display: none;
        }
    }
}