:local(.className){
    .tracks-container-outer{
        position: absolute;
        width: 100%;
        min-height: 100%;
        overflow: hidden;

        .playhead{
            position: fixed;
            pointer-events: none;
            z-index: 2;
        }
    }
}