:local(.className){
    position: relative;
    border-bottom: 1px solid #ccc;

    .layers{
        overflow: hidden;
        position: relative;
        height: 100%;

        .layer{
            position: absolute;
            top: 0;
            left: 0;

            &.highlight{
                background: #000;
                opacity: 0.5;
                mix-blend-mode: multiply;
            }
        }
    }
}