:local(.className){
    position: relative;
    border-bottom: 1px solid #ccc;

    .layers{
        overflow: hidden;
        position: relative;
        height: 25px;

        .layer{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}