@import "../../theme";

:local(.className){
    position: relative;

    .layers{
        overflow: hidden;
        position: relative;
        height: 100%;

        .layer{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .message{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: #fff;
        transform: translateY(-50%);
        text-align: center;
    }
}

:local(.controlsClassName){
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 12em;

    button{
        color: #fff;
        line-height: 0.5em;

        &[data-action="zoom-in"]{
            .icon{
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}