@import '../../../theme';

/* darken and shift to the right sub-handles */
$handles-initial-level: 2;
$handles-final-level: 3;
$handles-lighten-scale: -10%;
$handles-margin: 0.5em;

:local(.class-name) {
    display: contents;
    height: 2em;
    user-select: none;
    cursor: pointer;

    @for $i from $handles-initial-level through $handles-final-level {
        $selector: '';
        @for $j from 1 through $i {
            $selector: $selector #{&};
        }
        #{$selector} > .handle {
            border-left: $handles-margin * ($i - $handles-initial-level + 1) solid $darkgray;
            background: scale-color($mediumgray, $lightness: $handles-lighten-scale * ($i - $handles-initial-level + 1));
        }
    }

    > .time-wrapper {
        position: relative;
        height: 100%;
        width: var(--timeline-zoom);
        margin-left: calc(var(--timeline-offset) * -100%);
        grid-column: 2;
        background: $mediumgray;
        border-bottom: 1px solid $darkgray;
        box-sizing: border-box;

        .time {
            position: absolute;
            top: 0.5em;
            bottom: 0.5em;
            left: 0;
            right: 0;
            background-color: #555;
            box-sizing: border-box;
            box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
            opacity: 0.5;

            .resize-handle {
                display: none;
                width: 6px;
                height: 6px;
                margin: -3px 0 0;
                background: #fff;
                border-radius: 50%;
                z-index: 1;
            }
        }
    }

    &.has-start-time {
        > .time-wrapper {
            .time {
                left: calc(var(--track-start-time)/var(--timeline-duration) * 100%);
            }
        }
    }

    &.has-end-time {
        > .time-wrapper {
            .time {
                right: calc(100% - (var(--track-end-time)/var(--timeline-duration) * 100%));
            }
        }
    }

    &:not(.has-end-time) > .time-wrapper::after {
        content: '';
        display: block;
        position: sticky;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat-y;
        background-size: 8px 8px;
        pointer-events: none;
    }

    &:not(.has-start-time) > .time-wrapper::after {
        background-image: linear-gradient(135deg, #606060 4px, transparent 0), linear-gradient(45deg, #606060 4px, transparent 0);
        background-position: left 3px;
    }

    &:not(.has-end-time) > .time-wrapper::after {
        background-image: linear-gradient(-135deg, #606060 4px, transparent 0),linear-gradient(-45deg, #606060 4px, transparent 0);
        background-position: right 3px;
    }

    &:not(.has-start-time):not(.has-end-time) > .time-wrapper::after {
        background-image:
            linear-gradient(135deg, #606060 4px, transparent 0), linear-gradient(45deg, #606060 4px, transparent 0),
            linear-gradient(-135deg, #606060 4px, transparent 0),linear-gradient(-45deg, #606060 4px, transparent 0);
        background-position: left 3px, left 3px, right 3px, right 3px;
    }

    > .descendents {
        display: none;
    }

    &.selected > .time-wrapper {
        background: $lightgray;

        .time {
            opacity: 1;

            .resize-handle {
                display: block;
            }
        }
    }

    &.user-expanded,
    &.auto-expanded {
        > .handle {
            button[data-action='expander'] {
                .icon {
                    transform: rotate(90deg);
                }

            }
        }

        > .descendents {
            display: contents;
        }
    }

    &:not(.has-descendents) {
        > .handle {
            button[data-action='expander'] {
                display: none;
            }
        }
    }

    &.dragging {
        > * {
            opacity: 0.1;
        }
    }

    &.dragover {
        &.drag-above::before,
        &.drag-below::after {
            content: '';
            grid-column: 1 / span 2;
            outline: #ff00a6 solid 1px;
            z-index: 3;
        }
    }

    &[data-type='Scenario'] {
        border-top: 0;

        > .handle,
        > .time-wrapper {
            display: none;
        }

        > .descendents {
            display: contents;
        }
    }

    &[data-type='Controller'],
    &[data-type='VideoRenderer'],
    &[data-type='BlockToggler'],
    &[data-type='Block'] {
        > .time-wrapper .time {
            background-color: $block-color;
        }
    }

    &[data-type='Page'] {
        > .time-wrapper .time {
            background-color: $page-color;
        }

        &:first-child > .time-wrapper .time .resize-handle[data-direction='left'],
        &:last-child > .time-wrapper .time .resize-handle[data-direction='right'] {
            display: none;
        }
    }

    &[data-type='Cursor'] {
        > .time-wrapper .time {
            background-color: $cursor-element-color;
        }
    }

    &[data-type='Content'] {
        > .time-wrapper .time {
            background-color: $content-element-color;
        }
    }

    &[data-type='Animation'] {
        > .time-wrapper .time {
            background-color: $animation-element-color;
        }
    }

    &[data-type='SVG'] {
        > .time-wrapper .time {
            background-color: $svg-element-color;
        }
    }
}
