@import "../../../theme";

:local(.className){
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid $darkgray;
    border-bottom: 1px solid $darkgray;
    user-select: none;
    cursor: pointer;

    > .inner{
        display: flex;
        height: 2em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        user-select: none;

        button{
            padding: 0;
            color: #fff;
            align-self: stretch;
            pointer-events: auto;

            &[data-action="expander"]{
                width: 2em;
                font-size: 0.75em;
                box-sizing: border-box;

                .icon{
                    transition: rotate 0.2s;
                }

                &:hover{
                    opacity: 0.25;
                }
            }
        }

        .label{
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .togglers{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 0.25em;

            .input{
                margin-left: 1px;
                pointer-events: auto;

                input{
                    + .state{
                        .icon{
                            display: block;
                            top: 0;
                            left: 0;
                            width: 0.8em;
                            height: 0.8em;
                            margin: 0.1em;
                            color: #fff;
                            opacity: 0.25;
                        }

                        label{
                            cursor: pointer;

                            &::before{
                                background: $darkgray;
                            }
                        }
                    }

                    &:checked{
                       + .state{
                            .icon{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .descendents{
        display: none;
        background: rgba(0, 0, 0, 0.25);
    }

    &.user-expanded,
    &.auto-expanded{
        > .inner{
            button{
                &[data-action="expander"]{
                    .icon{
                        transform: rotate(90deg);
                    }
                }
            }
        }

        > .descendents{
            display: block;
        }
    }

    &:not(.has-descendents){
        > .inner{
            button{
                &[data-action="expander"]{
                    opacity: 0;
                }
            }
        }
    }

    &.selected > .inner{
        background: $lightgray;
    }

    &.dragging{
        opacity: 0.1;
    }

    &.drag-above{
        border-top: 2px solid purple;
    }
    &.drag-under{
        border-bottom: 2px solid purple;
    }
}