@import "../../../theme";

:local(.className){
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;

    > .inner{
        display: flex;
        height: 2em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid $darkgray;
        pointer-events: none;

        .expander{
            display: none;
            align-self: center;
        }

        .label{
            flex: 1 1 auto;
            padding: 0 0.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .togglers{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 0.25em;

            .input{
                margin-left: 1px;
                pointer-events: auto;

                input{
                    + .state{
                        .icon{
                            display: block;
                            top: 0;
                            left: 0;
                            width: 0.8em;
                            height: 0.8em;
                            margin: 0.1em;
                            color: #fff;
                            opacity: 0.25;
                        }

                        label{
                            &::before{
                                background: $darkgray;
                            }
                        }
                    }

                    &:checked{
                       + .state{
                            .icon{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .descendents{
        display: none;
        padding-left: 0.5em;
        background: rgba(0, 0, 0, 0.25);

        :local(.className){
            border-right: 0;
        }
    }

    &.has-descendents{
        > .inner{
            padding-left: 0.5em;

            .expander{
                display: block;
                width: 0;
                height: 0;
                margin-left: -0.25em;
                border-top: 0.25em solid transparent;
                border-left: 0.5em solid #333;
                border-bottom: 0.25em solid transparent;
                pointer-events: auto;
            }
        }

        &.user-expanded,
        &.auto-expanded{
            > .inner .expander{
                transform: rotate(90deg);
            }

            > .descendents{
                display: block;
            }
        }
    }

    &.selected > .inner{
        background: $lightgray;
    }
}
