@import "../../../theme";

:local(.className){
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid $darkgray;
    user-select: none;
    cursor: pointer;

    > .inner{
        display: flex;
        height: 2em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        pointer-events: none;
        user-select: none;

        > .icon{
            margin: 0 0.25em;
            font-size: 1.5em;
            flex: 0 0 auto;
        }

        > button{
            padding: 0;
            color: #fff;
            align-self: stretch;
            pointer-events: auto;

            &[data-action="expander"]{
                width: 2em;
                font-size: 0.75em;
                box-sizing: border-box;

                .icon{
                    height: 1em;
                    transition: rotate 0.2s;
                }

                &:hover{
                    opacity: 0.25;
                }
            }
        }

        > .label{
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > .togglers{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 0.25em;

            .input{
                margin-left: 1px;
                pointer-events: auto;

                input{
                    + .state{
                        label{
                            padding: 0.1em;
                            background: $darkgray;
                            cursor: pointer;

                            .icon{
                                position: relative;
                                display: block;
                                top: 0;
                                left: 0;
                                width: 0.8em;
                                height: 0.8em;
                                margin: 0.1em;
                                color: #fff;
                                opacity: 0.25;
                            }
                        }
                    }

                    &:checked{
                       + .state{
                            .icon{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    > .descendents{
        display: none;
        padding-left: 0.5em;
    }

    &.user-expanded,
    &.auto-expanded{
        > .inner{
            > button{
                &[data-action="expander"]{
                    .icon{
                        transform: rotate(90deg);
                    }
                }
            }
        }

        > .descendents{
            display: block;
        }
    }

    &:not(.has-descendents){
        > .inner{
            > button{
                &[data-action="expander"]{
                    display: none;
                }
            }
        }
    }

    &.selected > .inner{
        background: $lightgray;
    }

    &.dragging{
        > * {
            opacity: 0.1;
        }
    }

    &.dragover{
        * {
            pointer-events: none;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #FF00A6;
            z-index: 1;
        }

        &::after{
            content: "";
            position: absolute;
            left: 0;
            width: 6px;
            height: 6px;
            background: #FF00A6;
            border-radius: 50%;
            z-index: 1;
        }

        &.drag-above{
            &::before{
                top: 0;
                margin-top: -1px;
            }

            &::after{
                top: 0;
                margin-top: -3px;
            }
        }

        &.drag-below{
            &::before{
                top: 100%;
                margin-top: 1px;
            }

            &::after{
                top: 100%;
                margin-top: -1px;
            }
        }
    }

    &[data-type="Scenario"]{
        background: none;
        border-top: 0;

        > .inner{
            display: none;
        }

        > .descendents{
            display: block;
            padding: 0;
        }
    }
}