:local(.className){
    cursor: pointer;
    box-sizing: border-box;
    border-right: 1px solid #7b7b7b;
    user-select: none;

    > .inner{
        display: flex;
        height: 1.25em;
        line-height: 1.1em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        background: #ccc;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        pointer-events: none;

        .expander{
            display: none;
            align-self: center;
        }

        .label{
            flex: 1 1 auto;
            font-size: 1em;
            padding-left: 0.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:empty{
                &::after{
                    content: '\00a0';
                }
            }
        }

        .buttons{
            height: 100%;

            button{
                height: 100%;
                vertical-align: middle;
                background-size: 75%;
                border-radius: 0.25em;
                pointer-events: auto;

                &[data-action="lock"]{
                    opacity: 0.5;
                    background-image: url('../../../../img/editor/controller/timeline/handle/lock-open.svg');

                    &:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    .descendents{
        display: none;
        padding-left: 0.5em;
        background: rgba(0, 0, 0, 0.25);

        :local(.className){
            border-right: 0;
        }
    }

    &.has-descendents{
        > .inner{
            padding-left: 0.5em;

            .expander{
                display: block;
                width: 0;
                height: 0;
                margin-left: -0.25em;
                border-top: 0.25em solid transparent;
                border-left: 0.5em solid #333;
                border-bottom: 0.25em solid transparent;
                pointer-events: auto;
            }
        }

        &.user-expanded,
        &.auto-expanded{
            > .inner .expander{
                transform: rotate(90deg);
            }

            > .descendents{
                display: block;
            }
        }
    }

    &.selected > .inner{
        background: #ddd;
    }

    &.locked{
        > .inner{
            .buttons{
                button[data-action="lock"]{
                    opacity: 1;
                    background-image: url('../../../../img/editor/controller/timeline/handle/lock-closed.svg');
                }
            }
        }
    }
}
