@import '../../../theme';

:local(.class-name) {
    display: contents;
    user-select: none;

    > .handle,
    > .keyframes-wrapper {
        height: 1.5em;
        border-bottom: 1px solid $darkgray;
        box-sizing: border-box;
    }

    > .handle {
        > .icon {
            height: 1em;
            margin: 0 0.5em 0 0;
            padding: 0.25em 0 0.25em 0.5em;
            color: $lightgray;
            border-left: 0.5em solid $darkgray;
        }
    }

    > .keyframes-wrapper {
        position: relative;
        width: var(--timeline-zoom);
        margin-left: calc(var(--timeline-offset) * -100%);
        grid-column: 2;
        background: $mediumgray;

        .component-track.selected & {
            cursor: copy;
        }
    }
}
