:local(.className){

    > .inner{
        position: relative;
        height: 1em;
        border-bottom: 1px dashed #CCC;

        .info{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: #555;
            border: 1px solid #555;
            border-radius: 0.5em;
            box-sizing: border-box;

            .name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.truncated-start > .inner .info{
        border-radius: 0 0.5em 0.5em 0;
        border-left-style: dotted;
    }
    &.truncated-end > .inner .info{
        border-radius: 0.5em 0 0 0.5em;
        border-right-style: dotted;
    }
    &.truncated-start.truncated-end > .inner .info{
        border-radius: 0;
    }

    &[data-type="Block"] > .inner .info{
        background: rgb(51,49,47);
    }
    &[data-type="Cursor"] > .inner .info{
        background: rgb(255,0,60);
    }
    &[data-type="Image"] > .inner .info{
        background: rgb(255,138,0);
    }
    &[data-type="Text"] > .inner .info{
        background: rgb(0,193,118);
    }
}
