@import "../../../core/theme";
@import "../../theme";

:local(.className){
    cursor: pointer;

    > .inner{
        position: relative;
        height: 2em;
        border-bottom: 2px solid $darkgray;
        pointer-events: none;

        .info{
            position: absolute;
            height: 1em;
            margin: 0.5em 0;
            width: 100%;
            left: 0;
            top: 0;
            background: #555;
            box-sizing: border-box;
            box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
            opacity: 0.5;

            .resize-handle{
                display: none;
                width: 6px;
                height: 6px;
                margin-top: -3px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }

    &[data-type="Controller"],
    &[data-type="Media"],
    &[data-type="BlockToggler"],
    &[data-type="Block"]{
        & > .inner .info{
            background: $block-color;
        }
    }
    &[data-type="Cursor"]{
        & > .inner .info{
            background: $cursor-color;
        }
    }
    &[data-type="Image"]{
        & > .inner .info{
            background: $image-color;
        }
    }
    &[data-type="Text"]{
        & > .inner .info{
            background: $text-color;
        }
    }

    .descendents{
        display: none;
    }

    &.user-expanded,
    &.auto-expanded{
        > .descendents{
            display: block;
        }
    }

    &.selected > .inner{
        background: $lightgray;
        pointer-events: auto;

        .info{
            opacity: 1;

            .resize-handle{
                display: block;
            }
        }
    }
}
