@import "../../../theme";

:local(.className){
    border-top: 1px solid $darkgray;
    border-bottom: 1px solid $darkgray;
    cursor: pointer;

    > .inner{
        position: relative;
        height: 2em;
        pointer-events: none;

        .info{
            position: absolute;
            height: 1em;
            margin: 0.5em 0;
            width: 100%;
            left: 0;
            top: 0;
            background: #555;
            box-sizing: border-box;
            box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
            opacity: 0.5;

            .resize-handle{
                display: none;
                width: 6px;
                height: 6px;
                margin: -3px 0 0 0;
                background: #fff;
                border-radius: 50%;
            }
        }
    }

    &[data-type="Controller"],
    &[data-type="Media"],
    &[data-type="BlockToggler"],
    &[data-type="Block"]{
        & > .inner .info{
            background: $block-color;
        }
    }
    &[data-type="Cursor"]{
        & > .inner .info{
            background: $cursor-element-color;
        }
    }
    &[data-type="Content"]{
        & > .inner .info{
            background: $content-element-color;
        }
    }
    &[data-type="Animation"]{
        & > .inner .info{
            background: $animation-element-color;
        }
    }

    .descendents{
        display: none;
    }

    &.user-expanded,
    &.auto-expanded{
        > .descendents{
            display: block;
        }
    }

    &.selected > .inner{
        background: $lightgray;
        pointer-events: auto;

        .info{
            opacity: 1;

            .resize-handle{
                display: block;
            }
        }
    }

    &.dragging{
        opacity: 0.1;
    }

    &.drag-above{
        border-top: 2px solid purple;
    }
    &.drag-under{
        border-bottom: 2px solid purple;
    }
}