@import "../../../theme";

:local(.className){
    position: relative;
    background: $mediumgray;
    border-top: 1px solid $darkgray;
    cursor: pointer;

    > .inner{
        position: relative;
        height: 1em;
        padding: 0.5em 0;

        .info{
            position: absolute;
            height: 1em;
            width: 100%;
            left: 0;
            background-color: #555;
            box-sizing: border-box;
            box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
            opacity: 0.5;

            .resize-handle{
                display: none;
                width: 6px;
                height: 6px;
                margin: -3px 0 0 0;
                background: #fff;
                border-radius: 50%;
                z-index: 2;
            }
        }
    }

    &[data-type="Scenario"]{
        border-top: 0;

        > .inner{
            display: none;
        }

        > .descendents{
            display: block;
        }
    }
    &[data-type="Controller"],
    &[data-type="VideoRenderer"],
    &[data-type="BlockToggler"],
    &[data-type="Block"]{
        & > .inner .info{
            background-color: $block-color;
        }
    }
    &[data-type="Page"]{
        & > .inner .info{
            background-color: $page-color;
        }

        &:first-child > .inner .info .resize-handle[data-direction="left"],
        &:last-child > .inner .info .resize-handle[data-direction="right"]{
            display: none;
        }
    }
    &[data-type="Cursor"]{
        & > .inner .info{
            background-color: $cursor-element-color;
        }
    }
    &[data-type="Content"]{
        & > .inner .info{
            background-color: $content-element-color;
        }
    }
    &[data-type="Animation"]{
        & > .inner .info{
            background-color: $animation-element-color;
        }
    }
    &[data-type="SVG"]{
        & > .inner .info{
            background-color: $svg-element-color;
        }
    }

    &.selected > .inner{
        background: $lightgray;

        .info{
            opacity: 1;

            .resize-handle{
                display: block;
            }
        }
    }

    &:not(.has-start-time),
    &:not(.has-end-time){
        > .inner{
            &::after{
                content: '';
                position: sticky;
                left: 0;
                display: block;
                width: var(--tracks-container-width);
                height: 1em;
                z-index: 1;
                pointer-events: none;
                background-repeat: repeat-y;
                background-size: 8px 8px;
            }
        }
    }

    &:not(.has-start-time) > .inner::after{
        background-image: linear-gradient(135deg, #606060 4px, transparent 0), linear-gradient(45deg, #606060 4px, transparent 0);
        background-position: left 3px;
    }

    &:not(.has-end-time) > .inner::after{
        background-image: linear-gradient(-135deg,#606060 4px,transparent 0),linear-gradient(-45deg,#606060 4px,transparent 0);
        background-position: right 3px;
    }

    &:not(.has-start-time):not(.has-end-time) > .inner::after{
        background-image:
            linear-gradient(135deg, #606060 4px, transparent 0), linear-gradient(45deg, #606060 4px, transparent 0),
            linear-gradient(-135deg,#606060 4px,transparent 0),linear-gradient(-45deg,#606060 4px, transparent 0);
        background-position:
            left 3px, left 3px,
            right 3px, right 3px;
    }

    > .descendents{
        display: none;
    }

    &.user-expanded,
    &.auto-expanded{
        > .descendents{
            display: block;
        }
    }

    &.dragging{
        > * {
            opacity: 0.1;
        }
    }

    &.dragover{
        * {
            pointer-events: none;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #FF00A6;
            z-index: 1;
        }

        &.drag-above{
            &::before{
                top: 0;
                margin-top: -1px;
            }
        }

        &.drag-below{
            &::before{
                top: 100%;
                margin-top: 1px;
            }
        }
    }
}