:local(.className){
    position: relative;
    height: 1em;
    border-bottom: 1px dashed #CCC;

    .info{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: #555;
        border: 1px solid #555;
        border-radius: 0.5em;
        box-sizing: border-box;
    }

    &[data-type="Block"]{
        .info{
            background: rgb(51,49,47);
        }
    }
    &[data-type="Cursor"]{
        .info{
            background: rgb(255,0,60);
        }
    }
    &[data-type="Image"]{
        .info{
            background: rgb(255,138,0);
        }
    }
    &[data-type="Text"]{
        .info{
            background: rgb(0,193,118);
        }
    }
}
