@import "../../../core/theme";

:local(.className){

    > .info-wrapper{
        position: relative;
        height: 1.1em;
        opacity: 0.5;
        border-bottom: 1px dashed #CCC;
        box-sizing: border-box;

        .info{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: #555;
            border: 1px solid #555;
            border-radius: 0.5em;
            box-sizing: border-box;

            .name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.selected > .info-wrapper{
        opacity: 1;

        .info{
            box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
        }
    }

    &.truncated-start > .info-wrapper .info{
        border-radius: 0 0.5em 0.5em 0;
        border-left-style: dotted;
    }
    &.truncated-end > .info-wrapper .info{
        border-radius: 0.5em 0 0 0.5em;
        border-right-style: dotted;
    }
    &.truncated-start.truncated-end > .info-wrapper .info{
        border-radius: 0;
    }

    &[data-type="Controller"],
    &[data-type="Media"],
    &[data-type="BlockToggler"],
    &[data-type="Block"]{
       & > .info-wrapper .info{
            background: @block-color;
        }
    }
    &[data-type="Cursor"] > .info-wrapper .info{
        background: @cursor-color;
    }
    &[data-type="Image"] > .info-wrapper .info{
        background: @image-color;
    }
    &[data-type="Text"] > .info-wrapper .info{
        background: @text-color;
    }
}
