@import "../../vendor/prefixer.less";

.metaScore-editor{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .main-menu{
    padding: 15px 20px;
    .gradient(#DADADA, #DADADA, #C8C8C8);
    border-bottom: 2px solid #B2B2B2;
  }
}