@import '../../../theme';

:local(.className) {
    position: relative;

    .buttons {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $darkgray;

        button {
            height: 100%;
            opacity: 0.5;

            .icon {
                color: #fff;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &:hover {
        .buttons {
            display: block;
        }
    }

    &.disabled {
        .buttons {
            cursor: default;
            pointer-events: none;
        }
    }
}
