@import '../../../theme';

:local(.className) {
    position: relative;
    cursor: pointer;

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: 0;
        visibility: hidden;
        z-index: -1;

        + .state {
            label {
                display: block;
                width: 1em;
                height: 1em;
                background: #fff;

                .icon {
                    display: none;
                    position: absolute;
                    top: -0.1em;
                    left: 0.2em;
                    width: 1em;
                    color: #000;
                    pointer-events: none;
                }
            }
        }

        &:checked {
            + .state {
                .icon {
                    display: block;
                }
            }
        }
    }

    &.toggle-button {
        input {
            + .state {
                label {
                    width: auto;
                    height: auto;
                    padding: 0.25em 0.5em;
                    color: #fff;
                    background: none;
                    border: 1px solid #fff;
                    border-radius: 1.5em;
                    cursor: pointer;
                    user-select: none;
                    outline: 0;
                    transition: all 0.4s ease;
                }

                .icon {
                    display: none;
                }
            }

            &:checked {
                + .state {
                    label {
                        background: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
}
