@import "../../../theme";

:local(.className){
    position: relative;

    input{
        position: absolute;
        width: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
    }

    > button{
        background: $darkgray;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        border-radius: 0.2em;
        box-shadow: 0.1em 0.1em 0.25em 0 rgba(0,0,0,0.75);
    }

    .picker{
        position: fixed;
        z-index: 999;
        box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);

        button{
            border-radius: 0.25em;

            &[data-action="save"]{
                background: $darkgray;
            }

            &[data-action="reset"],
            &[data-action="cancel"]{
                background: $lightgray;
            }
        }
    }
}