@import "../../../theme";

:local(.className){
    position: relative;

    input{
        padding: 0.25em 0.5em;
        color: #fff;
        background: $mediumgray;
        border-radius: 0.25em;
    }

    .buttons{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        height: 100%;
        flex-direction: row;
        align-items: stretch;

        button{
            flex: 1 1 auto;
            padding: 0;
            font-size: 0.5em;
            color: #fff;
            vertical-align: top;

            .icon{
                padding: 0.5em;
            }

            &[data-direction="down"]{
                .icon{
                    transform: rotate(180deg);
                }
            }
        }
    }

    &.flip-buttons{
        .buttons{
            transform-origin: center;
            transform: rotate(180deg);
        }
    }

    &.vertical{
        .buttons{
            flex-direction: column;

            button{
                .icon{
                    padding: 0em;
                    transform: rotate(90deg);
                }

                &[data-direction="down"]{
                    .icon{
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }

    &:hover{
        .buttons{
            display: flex;
        }
    }
}