@import "../../../theme";

:local(.className){
    position: relative;

    input{
        padding: 0.25em 0.5em;
        color: #fff;
        background: $mediumgray;
        border-radius: 0.25em;
    }

    .buttons{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        height: 100%;
        flex-direction: column;
        align-items: stretch;

        .icon{
            height: auto;
            width: auto;
            padding: 0.25em;
            color: #fff;
            vertical-align: top;
            box-sizing: border-box;
            opacity: 0.5;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }
        }
    }

    &.flip-buttons{
        .buttons{
            transform-origin: center;
            transform: rotate(180deg);
        }
    }

    &.horizontal{
        .buttons{
            flex-direction: row-reverse;
        }
    }

    &:hover{
        .buttons{
            display: flex;
        }
    }
}