:local(.className){
    input{
        padding-right: 2em;
    }

    .buttons{
        width: 2em;
        flex-direction: column-reverse;
        justify-content: center;

        &.flip{
            transform: rotate(180deg);
        }

        button{
            width: auto;
            margin: 0;
            background-size: contain;

            &[data-action="spin"]{
                &[data-direction="down"]{
                    background-image: url('../../../../img/core/ui/input/number/spinner-down.svg');
                }

                &[data-direction="up"]{
                    background-image: url('../../../../img/core/ui/input/number/spinner-up.svg');
                }
            }
        }
    }

    &.vertical{
        .buttons{
            flex-direction: row;

            button{
                &[data-action="spin"]{
                    &[data-direction="down"]{
                        background-image: url('../../../../img/core/ui/input/number/spinner-left.svg');
                    }

                    &[data-direction="up"]{
                        background-image: url('../../../../img/core/ui/input/number/spinner-right.svg');
                    }
                }
            }
        }
    }

    &:hover{
        .buttons{
            display: flex;
        }
    }
}