@import "../../../theme";

:local(.className){
    .radiobutton-wrapper{
        margin-right: 0.5em;

        input{
            visibility: hidden;
            position: absolute;
        }

        label{
            position: relative;
            padding-left: 2em;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                margin-top: -0.15em;
                width: 1.66em;
                height: 1.66em;
                border-radius: 50%;
                border: 1px solid #fff;
                box-sizing: border-box;
            }

            &:hover{
                &::before{
                    border-color: $mediumgray;
                }
            }
        }

        input:checked + label{
            &::after{
                content: "";
                position: absolute;
                top: 0.33em;
                left: 0.33em;
                margin-top: -0.15em;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: #fff;
            }
        }
    }
}