@import "../../../theme";

:local(.className){
    select{
        display: inline-block;
        width: auto;
        max-width: 100%;
        margin: 0;
        padding-right: 2.5em;
        color: #fff;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: .25em;
        appearance: none;
        background-color: transparent;
        background-image: url('../../../../img/core/ui/input/select/arrow.svg');
        background-repeat: no-repeat;
        background-position: right 0.5em top 50%;
        background-size: 1.5em auto;

        option {
            font-weight: normal;
        }

        &::-ms-expand {
            display: none;
        }
        &:hover {
            border-color: $mediumgray;
        }
        &:focus {
            box-shadow: 0 0 1px 3px rgba(255, 255, 255, .5);
            outline: none;
        }
    }
}