@import "../../../theme";

:local(.className){
    position: relative;

    select{
        display: inline-block;
        width: auto;
        max-width: 100%;
        margin: 0;
        padding-right: 2.5em;
        color: #fff;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: .25em;
        appearance: none;
        background-color: transparent;

        option {
            font-weight: normal;
            background: $mediumgray;
        }

        &[multiple]{
            padding-right: 0;

            + .icon{
                display: none;
            }
        }

        &::-ms-expand {
            display: none;
        }
        &:hover {
            border-color: $mediumgray;
        }
        &:focus {
            box-shadow: 0 0 1px 3px rgba(255, 255, 255, .5);
            outline: none;
        }
    }

    .icon{
        position: absolute;
        top: 0;
        right: 0.5em;
        width: 1em;
        height: 100%;
        pointer-events: none;
    }
}