@import "../../../theme";

:local(.className){
    position: relative;

    input{
        appearance: none;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        background: none;
        z-index: 0;
        cursor: pointer;

        &:focus{
            border: 0;
            outline: none;
        }

        &::-moz-range-thumb,
        &::-webkit-slider-thumb{
            appearance: none;
            width: 1em;
            height: 1em;
            background: #fff;
            border: 0;
        }
    }

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $mediumgray;
        margin-top: -1px;
    }

    &.reversed{
        input{
            direction: rtl;
        }
    }

    &.vertical{
        input{
            transform-origin: 50%;
            transform: rotate(-90deg);
        }
    }
}