@import "../../../theme";

:local(.className){
    input{
        padding: 0.25em 0.5em;
        color: #fff;
        background: $mediumgray;
        border-radius: 0.25em;

        &:focus {
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, .5);
            outline: none;
        }
    }
}