@import "../../../theme";

:local(.className){
    position: relative;

    input{
        width: 6em;
        padding: 0 0.5em;
        line-height: 1.5em;
        color: #fff;
        background: $mediumgray;
        border-radius: 0.25em;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 0 1px 1px rgba(255, 255, 255, .5);
            outline: none;
        }
    }

    .buttons{
        display: none;
        position: absolute;
        bottom: 100%;
        right: 0;
        padding: 0 0.25em;
        background: $mediumgray;
        box-shadow: -0.15em -0.15em 0.1em 0 rgba(0, 0, 0, 0.25);

        button{
            padding: 0 0.25em;
            opacity: 0.5;

            .icon{
                font-size: 0.75em;
                color: #fff;
            }

            &:hover{
                opacity: 1;
            }
        }
    }

    &:hover{
        input{
            border-top-right-radius: 0;
        }

        .buttons{
            display: block;
        }
    }

    &.disabled{
        .buttons{
            cursor: default;
            pointer-events: none;
        }
    }

    &.readonly{
        opacity: 1;

        input{
            opacity: 0.75;
        }

        .buttons{
            button{
                &[data-action="in"]{
                    opacity: 0.25;
                }
                &[data-action="out"]{
                    pointer-events: all;
                }
            }
        }
    }
}