@import '../../../theme';

:local(.class-name) {
    > .inner {
        > .body {
            > .contents {
                .preview {
                    position: relative;
                    width: 14em;
                    height: 12em;
                    margin: 3em 4em;
                    background: $mediumgray;
                    border: 2px solid #fff;
                }

                .input {
                    position: absolute;
                    margin: 0;

                    &.combined {
                        input {
                            width: 3em;
                        }

                        &[data-property^='top'] {
                            bottom: 100%;

                            .input:first-child {
                                bottom: 1em;
                            }

                            .input:last-child {
                                top: 0;
                            }
                        }

                        &[data-property^='bottom'] {
                            top: 100%;

                            .input:first-child {
                                top: 1em;
                            }

                            .input:last-child {
                                bottom: 0;
                            }
                        }

                        &[data-property$='left'] {
                            right: 100%;

                            .input:first-child {
                                left: 0;
                            }

                            .input:last-child {
                                left: -4em;
                            }
                        }

                        &[data-property$='right'] {
                            left: 100%;

                            .input:first-child {
                                right: 0;
                            }

                            .input:last-child {
                                right: -4em;
                            }
                        }
                    }
                }
            }
        }
    }
}
