@import "../../../theme";

:local(.className){
    > .inner{
        > .body{
            > .contents{
                .preview{
                    position: relative;
                    width: 14em;
                    height: 12em;
                    margin: 3em 4em;
                    background: $mediumgray;
                    border: 2px solid #fff;
                }

                .input{
                    position: absolute;

                    input{
                        width: 1.5em;
                    }

                    &.tlw,
                    &.trw{
                        bottom: 100%;
                        margin-bottom: 1em;
                    }
                    &.tlh,
                    &.blh{
                        right: 100%;
                        margin-right: 1em;
                    }
                    &.trw,
                    &.brw{
                        right: 0;
                    }
                    &.trh,
                    &.brh{
                        left: 100%;
                        margin-left: 1em;
                    }
                    &.brw,
                    &.blw{
                        top: 100%;
                        margin-top: 1em;
                    }
                    &.brh,
                    &.blh{
                        bottom: 0;
                    }
                }
            }
        }
    }
}