:local(.class-name) {
    > .inner {
        > .body {
            > .contents {
                max-height: none;

                iframe {
                    width: 75vw;
                    height: 75vh;
                    min-width: 800px;
                    min-height: 500px;
                    border: 0;
                }
            }
        }
    }
}
