:local(.className){
    > .inner{
        > .contents{
            max-height: none;

            iframe{
                width: 75vw;
                height: 75vh;
                min-width: 800px;
                min-height: 500px;
                border: none;
            }
        }
    }
}