.overlay.iframe{
    > .inner{
        > .contents{
            iframe{
                min-width: 800px;
                min-height: 500px;
                border: none;
            }
        }
    }
}