@import "../../../theme";

:local(.className){
    > .inner{
        > .contents{
            padding: 1em 1em 1em 4em;
            background: url('../../../../img/core/loading.svg') no-repeat 1em center;
            background-size: 2em;

            .text{
                color: #fff;
            }
        }
    }

    &.with-bar{
        > .inner{
            > .contents{
                min-width: 10em;
                padding-left: 1em;
                background-image: none;

                .bar{
                    position: relative;
                    margin-top: 0.25em;
                    padding: 0.1em 0.5em;
                    background: #dadada;

                    .progress{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background: $metascore-color;
                        transition: width 500ms ease-in-out;
                    }

                    .text{
                        position: relative;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}