@import "./theme";
@import "../fonts/source-sans-pro/source-sans-variable.css";

:local(.className){
    font-size: 14px;
    font-family: 'Source Sans Variable', sans-serif;

    &, * {
        ::-webkit-scrollbar{
            -webkit-appearance: none;
            background-color: $scrollbar-track-color;
            width: $scrollbar-width;
            height: $scrollbar-thumb-min-height;
        }
        ::-webkit-scrollbar-thumb{
            border-radius: 0;
            background-color: $scrollbar-thumb-color;

            &:active,
            &:hover{
                background-color: $scrollbar-thumb-active-color;
            }
        }
        scrollbar-color: $scrollbar-track-color $scrollbar-thumb-color;
        scrollbar-width: thin;
    }

    display: grid;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: min-content 1fr auto;
    grid-template-areas: "top top top" "left center right" "bottom bottom bottom";
    align-items: stretch;
    flex-wrap: nowrap;

    .pane{
        &.top-pane{
            grid-area: top;
            height: 2.5em;
            background: $darkgray;

            .main-menu{
                flex: 0 0 auto;
                height: 100%;
            }
        }

        &.tools-pane{
            grid-area: left;

            &:not(.collapsed){
                width: 20em;
                min-width: min-content;
                max-width: 25vw;
            }
        }

        &.center-pane{
            grid-area: center;

            > .contents{
                $ruler-width: 20px;

                padding-top: $ruler-width;
                padding-left: $ruler-width;
                box-sizing: border-box;
                overflow: auto;
                display: flex;

                .workspace{
                    margin: auto;
                    flex-shrink: 0;
                    box-shadow: 0 0 1em 0.25em rgba(0,0,0,.75);
                    transition: all 0.25s;

                    .ruler{
                        position: absolute;
                        left: 0;
                        top: 0;
                        box-sizing: border-box;
                        z-index: 2;

                        &[data-axis="x"]{
                            width: 100%;
                            padding-left: $ruler-width;
                        }

                        &[data-axis="y"]{
                            height: 100%;
                            padding-top: $ruler-width;
                        }
                    }

                    .player-wrapper{
                        position: relative;
                        transform-origin: 0 0;
                        transition: all 0.25s;

                        .grid{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            pointer-events: none;
                            background-image: url('../img/editor/grid.svg');
                            background-repeat: repeat;
                            background-size: 10px;
                            opacity: 0.25;
                            z-index: 1;
                        }

                        .player-frame{
                            display: block;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            border: none;
                            background: #FFF;
                        }
                    }
                }
            }
        }

        &.configs-pane{
            grid-area: right;

            width: 20em;
            min-width: min-content;
            max-width: 25vw;
        }

        &.bottom-pane{
            grid-area: bottom;

            height: 300px;
            min-height: 150px;
            max-height: 75vh;

            &.collapsed{
                > .contents{
                    display: block;

                    > .controller{
                        > .top{
                            .time.input{
                                button[data-action="play"]{
                                    display: block;
                                }
                            }
                        }

                        > .middle,
                        > .bottom{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.assetbrowser-expanded{
        grid-template-columns: auto 0 minmax(0, min-content);

        .pane{
            &.tools-pane{
                width: auto !important;
                max-width: none;
                padding: 0;

                > .resize-handle{
                    display: none;
                }
            }

            &.center-pane{
                display: none;
            }
        }
    }

    .autosave-indicator{
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
        font-size: 0.9em;
        color: #FFF;
        background: $darkgray;
        padding: 0 0.5em;
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
        transform: translateX(-50%);
        opacity: 0.75;
        pointer-events: none;
    }

    &:not(.has-player){
        .player-frame{
            display: none;
        }
    }

    &:not(.editing){
        .pane{
            &.tools-pane{
                display: none;
            }

            &.configs-pane{
                display: none;
            }

            &.center-pane{
                .workspace{
                    padding: 0;

                    .ruler{
                        display: none;
                    }

                    .grid{
                        display: none;
                    }
                }
            }

            &.bottom-pane{
                height: auto !important;
                min-height: 0;

                > .resize-handle{
                    pointer-events: none;
                }

                .controller{
                    > .top{
                        .time.input{
                            button[data-action="play"]{
                                display: block;
                            }
                        }
                    }

                    > .middle,
                    > .bottom{
                        display: none;
                    }
                }
            }
        }
    }
}