@import "./theme";
@import "../fonts/source-sans-pro/source-sans-variable.css";

:local(.className){
    /* General styles *******************/

    *{
        font-size: 14px;
        font-family: 'Source Sans Variable', sans-serif;

        scrollbar-color: $scrollbar-track-color $scrollbar-thumb-color;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar{
        -webkit-appearance: none;
        background-color: $scrollbar-track-color;
        width: $scrollbar-width;
        height: $scrollbar-thumb-min-height;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: $scrollbar-thumb-color;

        &:active,
        &:hover{
            background-color: $scrollbar-thumb-active-color;
        }
    }

    scrollbar-color: $scrollbar-track-color $scrollbar-thumb-color;
    scrollbar-width: thin;

    .clearfix::after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    div{
        user-select: text;
    }

    table{
        margin: 0;
        border: none;
        border-collapse: collapse;
        border-spacing: 0;

        td, th{
            padding: 0;
            border: 0;
        }
    }

    button{
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;

        &:hover{
            opacity: 0.75;
        }
        &:active{
            opacity: 0.5;
        }
        &:focus{
            outline-width: 1px;
            outline-style: dotted;
            outline-offset: -1px;
        }
        &::-moz-focus-inner {
            border: 0;
        }
        &[disabled]{
            opacity: 0.25;
            cursor: default;
        }

        &.submit{
            background: #ccc;

            &:hover{
                background: $metascore-color;
                color: #fff;
                opacity: 1;
            }
        }

        &.cancel{
            background: #eee;
        }

        span{
            pointer-events: none;
        }
    }

    figure{
        margin: 0;
    }

    .overlay{
        > .inner{
            background: $darkgray;
            border-radius: 0;
        }
    }

    .collapsible{
        [data-role="collapsible-toggle"],
        [data-role="collapsible-label"]{
            display: none;
        }

        [data-role="collapsible-toggle"] ~ [data-role="collapsible-label"]{
            display: block;
            cursor: pointer;
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible-label"] {
            font-weight: bold;

            &::before{
                content: '+\00a0';
            }
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible-label"] {
            &::before{
                content: '-\00a0';
            }
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible"] {
            display: none;
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible"] {
            display: block;
        }
    }

    /* Specific styles *******************/

    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(0, min-content) auto minmax(0, min-content);
    grid-template-rows: minmax(0, min-content) auto minmax(0, min-content);
    grid-template-areas: "top top top" "left center right" "bottom bottom bottom";
    align-items: stretch;
    flex-wrap: nowrap;

    #top-pane{
        grid-area: top;
        height: 2.5em;
        background: $darkgray;
    }

    #tools-pane{
        grid-area: left;
        width: 12em;
        min-width: 12em;
        max-width: 20em;
    }

    #center-pane{
        grid-area: center;
        flex: 1 1 auto;

        > .contents{
            display: flex;
            flex-direction: column;
        }
    }

    #configs-pane{
        grid-area: right;
        width: 14em;
        min-width: 12em;
        max-width: 20em;
    }

    #bottom-pane{
        grid-area: bottom;
        height: 300px;
        min-height: 150px;
        max-height: 50vh;
    }

    &.assetbrowser-expanded{
        grid-template-columns: auto 0 minmax(0, min-content);

        #tools-pane{
            width: auto !important;
            max-width: none;
            padding: 0;

            > .resize-handle{
                display: none;
            }
        }

        #center-pane{
            display: none;
        }
    }

    .main-menu{
        flex: 0 0 auto;
        height: 100%;
    }

    .workspace{
        $ruler-width: 20px;

        display: flex;
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;
        padding: $ruler-width 0 0 $ruler-width;

        .ruler{
            position: absolute;
            z-index: 2;

            &[data-axis="x"]{
                left: $ruler-width;
                right: 0;
                top: 0;
            }

            &[data-axis="y"]{
                left: 0;
                top: $ruler-width;
                bottom: 0;
            }
        }

        .grid{
            padding-top: $ruler-width;
            padding-left: $ruler-width;
            z-index: 1;
            pointer-events: none;
        }

        .player-frame{
            flex: 1 1 auto;
            margin: 0;
            padding: 0;
            border: none;
            background-color: #FFF;
        }
    }

    &:not(.editing){
        #tools-pane{
            display: none;
        }

        #configs-pane{
            display: none;
        }

        #center-pane{
            .workspace{
                padding: 0;

                .ruler{
                    display: none;
                }

                .grid{
                    display: none;
                }
            }
        }

        #bottom-pane{
            height: auto !important;
            min-height: 0;

            > .resize-handle{
                display: none;
            }

            .controller{
                .top{
                    .time.input{
                        button[data-action="play"]{
                            display: block;
                        }
                    }
                }

                .middle{
                    display: none;
                }

                .bottom{
                    display: none;
                }
            }
        }
    }
}