@import "./core/theme";
@import "../fonts/source-sans-pro/source-sans-variable.css";

:local(.className){
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    *{
        font-size: 12px;
        font-family: 'Source Sans Variable', sans-serif;
    }

    ::-webkit-scrollbar{
        -webkit-appearance: none;
        background-color: $scrollbar-track-color;
        width: $scrollbar-width;
        height: $scrollbar-thumb-min-height;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: $scrollbar-thumb-color;

        &:active,
        &:hover{
            background-color: $scrollbar-thumb-active-color;
        }
    }

    .clearfix::after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    div{
        user-select: text;
    }

    table{
        margin: 0;
        border: none;
        border-collapse: collapse;
        border-spacing: 0;

        td, th{
            padding: 0;
            border: 0;
        }
    }

    label{
        display: inline-block;
        font-weight: normal;
    }

    fieldset{
        margin: 0;
        padding: 0;
        border: none;
        background: #eee;

        legend{
            display: block;
            width: 100%;
            padding: 1em;
            box-sizing: border-box;
            background: inherit;
        }

        > .contents{
            padding: 1em;
        }

        &.collapsible{
            legend{
                cursor: pointer;

                &::before{
                    content: '';
                    margin-right: 0.25em;
                    padding-left: 8px;
                    background: transparent url('../img/editor/fieldset/expanded.png') left center no-repeat;
                }
            }

            &.collapsed{
                legend{
                    &::before{
                        background-image: url('../img/editor/fieldset/collapsed.png');
                    }
                }

                > .contents{
                    display: none;
                }
            }
        }
    }

    button{
        border: none;
        outline: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover{
            opacity: 0.75;
        }
        &:active{
            opacity: 0.5;
        }
        &[disabled]{
            opacity: 0.25;
            cursor: default;
        }

        &.submit{
            background: #ccc;

            &:hover{
                background: $metascore-blue;
                color: #fff;
                opacity: 1;
            }
        }

        &.cancel{
            background: #eee;
        }

        span{
            pointer-events: none;
        }
    }

    .collapsible{
        [data-role="collapsible-toggle"],
        [data-role="collapsible-label"]{
            display: none;
        }

        [data-role="collapsible-toggle"] ~ [data-role="collapsible-label"]{
            display: block;
            cursor: pointer;
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible-label"] {
            font-weight: bold;

            &::before{
                content: '+\00a0';
            }
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible-label"] {
            &::before{
                content: '-\00a0';
            }
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible"] {
            display: none;
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible"] {
            display: block;
        }
    }


    align-items: stretch;
    flex-wrap: nowrap;

    .pane{
        $resize-handle-size: 8px;

        position: relative;
        overflow: hidden;
        background: $editor-background;
        color: #FFF;

        &.collapsed{
            &.vertical{
                min-width: auto !important;
                width: 0 !important;
            }
            &.horizontal{
                min-height: auto !important;
                height: 0 !important;
            }
        }

        &.resizable{
           > .resize-handle{
                position: absolute;
                background: $editor-borders;
                flex: 0 0 $resize-handle-size;
                margin: 0;

                &[data-direction="top"]{
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $resize-handle-size;
                }
                &[data-direction="bottom"]{
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: $resize-handle-size;
                }
                &[data-direction="left"]{
                    top: 0;
                    left: 0;
                    width: $resize-handle-size;
                    height: 100%;
                }
                &[data-direction="right"]{
                    top: 0;
                    right: 0;
                    width: $resize-handle-size;
                    height: 100%;
                }
            }
        }

        &#top-pane{
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
        }

        &#tools-pane{
            width: 200px;
            min-width: 150px;
            max-width: 300px;
            padding-right: $resize-handle-size;
        }

        &#center-pane{
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }

        &#configs-pane{
            width: 300px;
            min-width: 150px;
            max-width: 300px;
            padding-left: $resize-handle-size;
        }

        &#bottom-pane{
            height: 200px;
            min-height: 150px;
            max-height: 300px;
            padding-top: $resize-handle-size;
        }
    }

    .main-menu{
        flex: 0 0 auto;
    }

    .workspace{
        $ruler-width: 20px;

        display: flex;
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;
        padding: $ruler-width 0 0 $ruler-width;

        .ruler{
            position: absolute;
            z-index: 2;

            &[data-axis="x"]{
                left: $ruler-width;
                right: 0;
                top: 0;
            }

            &[data-axis="y"]{
                left: 0;
                top: $ruler-width;
                bottom: 0;
            }
        }

        .grid{
            padding-top: $ruler-width;
            padding-left: $ruler-width;
            z-index: 1;
            pointer-events: none;
        }

        .player-frame{
            flex: 1 1 auto;
            margin: 0;
            padding: 0;
            border: none;
            background-color: #FFF;
        }
    }

    &.editing{
        .workspace{
            .grid{
                display: block;
            }
        }
    }
}