@import "../../vendor/prefixer.less";

@block-outline: rgb(51,49,47);
@cursor-outline: rgb(255,0,60);
@image-outline: rgb(255,138,0);
@text-outline: rgb(0,193,118);

.metaScore-controller{
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 100px;
  overflow: hidden;
  color: rgb(221,221,221);
  background: rgb(204,204,204);
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-radius: 10px;
  
  .timer{
    text-align: center;
    line-height: 30px;
    background: rgb(0,0,254);
  }
  
  .buttons{
    position: relative;
    
    button{
      position: absolute;
      border: none;
      background: transparent url('img/player/controller-buttons.png') no-repeat;
    
      &[data-action="rewind"]{
        top: 22px;
        left: 4px;
        width: 10px;
        height: 11px;
        background-position: -17px -17px;
      }
      
      &[data-action="play"]{
        top: 5px;
        left: 15px;
        width: 43px;
        height: 43px;
        background-position: -50px 0;
      }
    }
  }
}

.metaScore-block{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  min-height: 100px;
  width: 200px;
  height: 200px;
  overflow: vissible;
  color: #424242;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
  font: normal 12px/normal Verdana, Arial, Helvetica, sans-serif;
  
  .pager{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(214, 214, 214, 0.6);
    border-radius: 10px 10px 0 0;
    text-align: right;
    
    .count{
      display: inline-block;
      margin-right: 10px;
      color: #636363;
      font-size: 10px;
      font-weight: bold;
      vertical-align: middle;
    }
    
    .buttons{
      display: inline-block;
      margin-right:  2px; 
      vertical-align: middle;
        
      .button{
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 1px 2px;
        background: #fff url('img/player/pager-buttons.png') no-repeat;
        .border-radius(10px);
        
        &[data-action="first"]{
          background-position: 4px 4px;
          
          &.inactive{
            background-position: 4px -14px;
          }
        }
        &[data-action="previous"]{
          background-position: -14px 4px;
          
          &.inactive{
            background-position: -14px -14px;
          }
        }
        &[data-action="next"]{
          background-position: -33px 4px;
          
          &.inactive{
            background-position: -33px -14px;
          }
        }
      }
    }
  }
  
  .page{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    &.active{
      display: block;
    }
  }
  
  .element{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    min-width: 5px;
    min-width: 5px;
    border: 0 solid #000;
    
    .contents{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    &[data-type="cursor"]{
      .cursor{
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: #000;
      }
        
      &[data-direction="left"]{
        .cursor{
          left: initial;
          right: 0;
        }
      }
      
      &[data-direction="bottom"]{
        .cursor{
          width: 100%;
          height: 1px;
        }
      }
      
      &[data-direction="top"]{
        .cursor{
          width: 100%;
          height: 1px;
          top: initial;
          bottom: 0;
        }
      }
    }
    &[data-type="image"]{
      
    }
    &[data-type="text"]{
      .contents{
        overflow: auto;
        
        .text{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  &:hover{
    .pager{
      display: block;
    }
  }
}


/*
* Special styles when embedded in editor
*/
.metaScore-player-wrapper{  
  div{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .draggable{
    &.dragging{
      cursor: move;
    }
  }
  
  .resizable{
    .resize-handle{
      position: absolute;
      background: fade(@block-outline, 50%);
      width: 10px;
      height: 10px;
      z-index: 9999;
      
      &[data-direction="top"]{
        top: -6px;
        left: 50%;
        margin-left: -5px;
        cursor: n-resize;
      }
      &[data-direction="right"]{
        right: -6px;
        top: 50%;
        margin-top: -5px;
        cursor: e-resize;
      }
      &[data-direction="bottom"]{
        bottom: -6px;
        left: 50%;
        margin-left: -5px;
        cursor: s-resize;
      }
      &[data-direction="left"]{
        left: -6px;
        top: 50%;
        margin-top: -5px;
        cursor: w-resize;
      }
      
      &[data-direction="top-right"]{
        top: -6px;
        right: -6px;
        cursor: ne-resize;
      }
      &[data-direction="top-left"]{
        top: -6px;
        left: -6px;
        cursor: nw-resize;
      }
      &[data-direction="bottom-left"]{
        bottom: -6px;
        left: -6px;
        cursor: sw-resize;
      }
      &[data-direction="bottom-right"]{
        bottom: -6px;
        right: -6px;
        cursor: se-resize;
      }
    }
  }
  
  
  .metaScore-block{
    &.selected{
      border: 1px dashed @block-outline;
      .box-shadow(@block-outline 0px 0px 4px 0px);
    }
    
    .element{
      &[data-type="cursor"]{
        outline-color: @cursor-outline;
        
        &.resizable .resize-handle{
          background: fade(@cursor-outline, 50%);
        }
      }
      
      &[data-type="image"]{
        outline-color: @image-outline;
        
        &.resizable .resize-handle{
          background: fade(@image-outline, 50%);
        }
      }
      
      &[data-type="text"]{
        outline-color: @text-outline;
        
        &.resizable .resize-handle{
          background: fade(@text-outline, 50%);
        }
      }
        
      &.selected{
        outline-width: 1px;
        outline-style: dashed;
      }
    }
  }
  
  &.alt-down{
    .metaScore-block:not(.selected){
      border: 1px dashed fade(@block-outline, 50%);
      .box-shadow(fade(@block-outline, 50%) 0px 0px 4px 0px);
    }  
    .element:not(.selected){
      outline-width: 1px;
      outline-style: dashed;
    }
  }
}