@keyframes pulsate {
    from{
        box-shadow: none;
    }

    to{
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 254, 1);
    }
};

::-webkit-scrollbar{
    -webkit-appearance: none;
    background-color: #d8d8d8;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: #818181;

    &:active,
    &:hover{
        background-color: #0000fe;
    }
}

.metaScore-editor{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    *{
        font-size: 12px;
        font-family: Verdana, Geneva, sans-serif;
    }

    .clearfix::after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    div{
        user-select: text;
    }

    table{
        margin: 0;
        border: none;
        border-collapse: collapse;
        border-spacing: 0;

        td, th{
            padding: 0;
            border: 0;
        }
    }

    label{
        display: inline-block;
        font-weight: normal;
    }

    fieldset{
        margin: 0;
        padding: 0;
        border: none;
        background: #eee;

        legend{
            display: block;
            width: 100%;
            padding: 1em;
            box-sizing: border-box;
            background: inherit;
        }

        > .contents{
            padding: 1em;
        }

        &.collapsible{
            legend{
                cursor: pointer;

                &::before{
                    content: '';
                    margin-right: 0.25em;
                    padding-left: 8px;
                    background: transparent url('../img/editor/fieldset/expanded.png') left center no-repeat;
                }
            }

            &.collapsed{
                legend{
                    &::before{
                        background-image: url('../img/editor/fieldset/collapsed.png');
                    }
                }

                > .contents{
                    display: none;
                }
            }
        }
    }

    button{
        border: none;
        outline: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover{
            opacity: 0.75;
        }
        &:active{
            opacity: 0.5;
        }
        &.disabled{
            opacity: 0.25;
            cursor: default;
        }

        &.submit{
            background: #ccc;

            &:hover{
                background: #0000fe;
                color: #fff;
                opacity: 1;
            }
        }

        &.cancel{
            background: #eee;
        }

        span{
            pointer-events: none;
        }
    }

    .draggable{
        .drag-handle{
            cursor: move;
        }
    }

    .collapsible{
        [data-role="collapsible-toggle"],
        [data-role="collapsible-label"]{
            display: none;
        }

        [data-role="collapsible-toggle"] ~ [data-role="collapsible-label"]{
            display: block;
            cursor: pointer;
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible-label"] {
            font-weight: bold;

            &::before{
                content: '+\00a0';
            }
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible-label"] {
            &::before{
                content: '-\00a0';
            }
        }

        [data-role="collapsible-toggle"]:not(:checked) ~ [data-role="collapsible"] {
            display: none;
        }

        [data-role="collapsible-toggle"]:checked ~ [data-role="collapsible"] {
            display: block;
        }
    }

    .field{
        .input-wrapper{
            position: relative;

            .buttons{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                display: none;
                background-color: rgb(238, 238, 238);

                button{
                    display: inline-block;
                    width: 25px;
                    height: 100%;
                    padding: 0;
                    overflow: hidden;
                    text-indent: 999px;
                    background-repeat: no-repeat;
                    background-position: center center;

                    &:hover{
                        background-color: rgb(204, 204, 204);
                        opacity: 1;
                    }

                    &[data-action="clear"]{
                        background-image: url('../img/editor/field/clear.svg');
                        background-size: 1.5em;
                    }
                }
            }
        }

        &:hover{
            .input-wrapper{
                .buttons{
                    display: block;
                }
            }
        }

        &.checkboxfield{
            &.readonly{
                .input-wrapper{
                    pointer-events: none;
                }
            }
        }

        &.checkboxesfield{
            .checkbox-wrapper{
                input{
                    margin: 0 0.5em 0 0;
                    vertical-align: middle;
                }

                label{
                    display: inline-block;
                }
            }

            &.readonly{
                .input-wrapper{
                    pointer-events: none;
                }
            }
        }

        &.radiobuttonsfield{
            .input-wrapper{
                display: flex;

                .radiobutton-wrapper{
                    margin-right: 2em;

                    input{
                        margin: 0 0.5em 0 0;
                        vertical-align: middle;
                    }

                    label{
                        display: inline-block;
                    }
                }
            }

            &.readonly{
                .input-wrapper{
                    pointer-events: none;
                }
            }
        }

        &.numberfield{
            .input-wrapper{
                input{
                    padding-right: 2em;
                }

                .buttons{
                    width: 2em;
                    flex-direction: column-reverse;
                    justify-content: center;

                    &.flip{
                        transform: rotate(180deg);
                    }

                    button{
                        width: auto;
                        margin: 0;
                        background-size: contain;

                        &[data-action="spin-down"]{
                            background-image: url('../img/editor/field/number/spinner-down.svg');
                        }

                        &[data-action="spin-up"]{
                            background-image: url('../img/editor/field/number/spinner-up.svg');
                        }
                    }
                }
            }

            &.vertical{
                .input-wrapper{
                    .buttons{
                        flex-direction: row;

                        button{
                            &[data-action="spin-down"]{
                                background-image: url('../img/editor/field/number/spinner-left.svg');
                            }

                            &[data-action="spin-up"]{
                                background-image: url('../img/editor/field/number/spinner-right.svg');
                            }
                        }
                    }
                }
            }

            &:hover{
                .buttons{
                    display: flex;
                }
            }
        }

        &.selectfield{
            .input-wrapper{
                height: 100%;
                cursor: pointer;

                input{
                    position: relative;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 2em 0 0.5em;
                    line-height: 1.5em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }

                ul{
                    margin: 0;
                    padding: 0;
                }

                .menu{
                    position: absolute;
                    left: 0;
                    top: 100%;
                    right: 0;
                    max-height: 10em;
                    overflow-y: auto;
                    list-style: none;
                    background: #fff;
                    border: 1px solid #ccc;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.2s ease-in-out 0s, visibility 0s ease-in-out 0.2s;
                    z-index: 1;

                    &:focus{
                        outline: 1px solid #ccc;
                    }

                    li{
                        padding: 0.25em;
                        line-height: 1.5em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    li.option{
                        pointer-events: all;
                        font-weight: normal;

                        &:empty {
                            &::after{
                                content: '\00a0';
                            }
                        }

                        &.selected{
                            background: #ccc;
                        }

                        &:hover{
                            color: #fff;
                            background: #0000fe;
                        }

                        &:not(:last-child){
                            border-bottom: 1px solid #eee;
                        }
                    }

                    li.group{
                        font-weight: bold;
                        cursor: default;

                        > ul{
                            > li {
                                padding-left: 0.5em;
                            }
                        }
                    }
                }

                &::after{
                    content: "";
                    position: absolute;
                    right: 0.5em;
                    top: 0;
                    bottom: 0;
                    width: 2em;
                    background: url('../img/editor/field/select/arrow.svg') no-repeat right center;
                    background-size: 1em;
                    pointer-events: none;
                }
            }

            &.open{
                input{
                    pointer-events: none;
                }

                .menu{
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0s, 0s;
                }
            }

            &.readonly{
                pointer-events: none;
            }

            ::-webkit-scrollbar{
                width: 5px;
            }
        }

        &.timefield{
            .input-wrapper{
                display: inline-block;
                vertical-align: top;

                input{
                    width: 6em;
                    height: 100%;
                    border: none;
                    background: none;
                    font-family: Tahoma, Geneva, sans-serif;
                }

                .buttons{
                    button{
                        background-size: 1.25em;

                        &[data-action="in"]{
                            background-image: url('../img/editor/field/time/in.svg');
                        }

                        &[data-action="out"]{
                            background-image: url('../img/editor/field/time/out.svg');
                        }
                    }
                }
            }

            &.readonly{
                .input-wrapper{
                    opacity: 1;

                    input{
                        opacity: 0.75;
                    }

                    .buttons{
                        button{
                            &[data-action="in"]{
                                opacity: 0.25;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }

        &.colorfield{
            .input-wrapper{
                background: url('../img/editor/transparency-grid.png') repeat left top;

                input{
                    background-image: url('../img/editor/field/color/picker.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: contain;

                    &:hover{
                        opacity: 1;
                    }
                }
            }

            &.disabled{
                .input-wrapper{
                    button{
                        cursor: default;
                    }
                }
            }
        }

        &.borderradiusrfield,
        &.imagefield,
        &.colorfield{
            .input-wrapper{
                position: relative;

                input{
                    width: 100%;
                    padding-right: 17px !important;
                    box-sizing: border-box;
                }
            }
        }

        &.imagefield{
            .input-wrapper{
                input{
                    direction: rtl;

                    &::placeholder{
                        direction: ltr;
                    }
                }

                .buttons{
                    button{
                        &[data-action="resize"]{
                            background-image: url('../img/editor/field/image/resize.svg');
                            background-size: 1.25em;
                        }
                    }
                }
            }
        }

        &.filefield{
            .sources-selector{
                display: flex;
                margin-bottom: 0.5em;

                .source-selector-wrapper{
                    label{
                        display: inline-block;
                        padding: 0.5em;
                        background: #f7f7f7;
                        font-weight: normal;

                        label::after{
                            display: none;
                        }
                    }

                    input:checked+label{
                        background: #ddd;
                        border-bottom: 2px solid #0000fe;
                    }

                    input{
                        display: none;
                    }

                }
            }

            .inputs{
                input{
                    width: 100%;
                }
            }

            &.required{
                .source-selector-wrapper{
                    label::after{
                        display: none;
                    }
                }
            }
        }

        .description{
            opacity: 0.5;
        }

        &.required{
            label::after{
                content: '*';
                color: red;
            }
        }

        &.readonly{
            .input-wrapper{
                opacity: 0.75;
                cursor: default;
            }
        }

        &.disabled{
            opacity: 0.25;
            cursor: default;

            .buttons{
                pointer-events: none;
            }
        }
    }

    .ruler{
        position: absolute;

        &.horizontal{
            left: 0;
            right: 0;
            top: 42px;
            height: 19px;
            background: url('../img/editor/ruler-h.png') no-repeat top left;
        }

        &.vertical{
            left: 0;
            top: 42px;
            bottom: 0;
            width: 19px;
            background: url('../img/editor/ruler-v.png') no-repeat top left;
        }
    }

    .workspace{
        position: absolute;
        left: 19px;
        right: 285px;
        top: 61px;
        bottom: 0;
        min-width: 700px;
        overflow: hidden;
        background: #fff;

        .grid{
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 999;
            pointer-events: none;
            background: url('../img/editor/grid.png');
            background-size: 10px 10px;
            opacity: 0.2;
        }

        .player-frame{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: none;
        }
    }

    &.sidebar-resizing{
        .workspace{
            pointer-events: none;
        }
    }

    &:not(.editing),
    &.sidebar-hidden{
        .workspace{
            right: 9px !important;
        }

        .sidebar-wrapper{
            width: 9px !important;
            min-width: 9px !important;
            max-width: 9px !important;
        }
    }

    .main-menu{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        min-width: 900px;
        height: 40px;
        padding: 0 20px;
        align-content: space-between;
        align-items: center;
        z-index: 9999;
        background-color: #dadada;
        background-image: linear-gradient(to bottom, #dadada 0%, #c8c8c8 100%);
        border-bottom: 2px solid #b2b2b2;

        > .separator{
            flex: 1;
        }

        &::before{
            content: '';
            width: 102px;
            height: 40px;
            flex: 0 0 auto;
            margin-right: 1em;
            vertical-align: middle;
            background: transparent url('../img/logo-philharmonie.png') left center no-repeat;
            background-size: contain;
        }

        > button,
        .button-group button{
            width: 1.75em;
            height: 1.6em;
            flex: 0 0 auto;
            margin: 0 0.75em;
            vertical-align: middle;

            &[data-action="new"]{
                background-image: url('../img/editor/main-menu/new.png');
            }
            &[data-action="open"]{
                background-image: url('../img/editor/main-menu/open.png');
            }
            &[data-action="edit"]{
                background-image: url('../img/editor/main-menu/edit.png');
            }
            &[data-action="save"]{
                background-image: url('../img/editor/main-menu/save.png');
            }
            &[data-action="clone"]{
                background-image: url('../img/editor/main-menu/clone.png');
            }
            &[data-action="publish"]{
                background-image: url('../img/editor/main-menu/publish.png');
            }
            &[data-action="delete"]{
                background-image: url('../img/editor/main-menu/delete.png');
            }
            &[data-action="share"]{
                background-image: url('../img/editor/main-menu/share.png');
            }
            &[data-action="download"]{
                display: none;
                background-image: url('../img/editor/main-menu/download.png');
            }
            &[data-action="revert"]{
                background-image: url('../img/editor/main-menu/revert.png');
            }
            &[data-action="undo"]{
                background-image: url('../img/editor/main-menu/undo.png');
            }
            &[data-action="redo"]{
                background-image: url('../img/editor/main-menu/redo.png');
            }
            &[data-action="edit-toggle"]{
                background-image: url('../img/editor/main-menu/edit-toggle.png');
            }
            &[data-action="settings"]{
                background-image: url('../img/editor/main-menu/settings.png');
            }
            &[data-action="help"]{
                background-image: url('../img/editor/main-menu/help.png');
            }
            &[data-action="account"]{
                background-image: url('../img/editor/main-menu/account.png');
            }
            &[data-action="logout"]{
                margin-right: 0;
                background-image: url('../img/editor/main-menu/logout.png');
            }
        }

        .button-group{
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 8px;
                content: "";
                background: url('../img/editor/main-menu/sub-menu.png') no-repeat center center;
            }

            .sub-menu{
                position: absolute;
                display: none;
                top: 100%;
                margin: 0;
                padding: 5px 0;
                list-style: none;
                background: #c8c8c8;
                border: 1px solid #b2b2b2;
                border-top-width: 0;
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);

                button{
                    width: 40px;
                    margin: 5px 0;
                }
            }

            &:hover{
                &::after {
                    opacity: 0.75;
                }

                .sub-menu{
                    display: block;
                }
            }

            &.save{
                &::before {
                    z-index: -2;
                }

                .sub-menu{
                    top: -0.75em;
                    padding-top: 3em;
                    border-top-width: 1px;
                    z-index: -1;
                }
            }
        }

        .time{
            flex: 0 0 auto;
            margin: 0 10px;
            white-space: nowrap;
            vertical-align: middle;
            padding-left: 1.75em;
            background: transparent url('../img/editor/main-menu/time.png') no-repeat left center;
            background-size: contain;

            input,
            .separator{
                color: #505050;
            }
        }

        .r-index{
            flex: 0 0 auto;
            margin: 0 10px;
            white-space: nowrap;
            vertical-align: middle;
            padding-left: 2em;
            background: transparent url('../img/editor/main-menu/r-index.png') no-repeat left center;
            background-size: contain;

            .input-wrapper{
                input{
                    width: 2em;
                    height: 100%;
                    padding-right: 1em;
                    color: #505050;
                    border: none;
                    background: none;
                    text-align: left;
                    vertical-align: top;
                    font-family: Tahoma, Geneva, sans-serif;
                }

                .buttons{
                    width: 1em;
                }
            }
        }
    }

    .sidebar-wrapper{
        position: fixed;
        right: 0;
        top: 42px;
        left: auto !important;
        bottom: 0;
        width: 300px;
        min-width: 300px;
        max-width: 500px;
        overflow: hidden;
        background: #f2f2f2;
        border-left: 1px solid #b2b2b2;

        .resize-handle{
            position: absolute;
            left: 0;
            top: 0;
            width: 9px;
            height: 100%;
            cursor: col-resize;
            background: #e6e6e6 url('../img/editor/sidebar/resizer-handle.png') no-repeat center center;

            &:hover{
                background-color: #d9d9d9;
            }
        }

        .sidebar{
            height: 100%;
            padding-left: 9px;
            overflow: auto;
            overflow-y: scroll;
        }

        .panel{
            position: relative;

            .toolbar{
                display: flex;
                align-items: center;
                padding: 5px;
                border-bottom: 1px solid #d7d7d7;
                background-color: #fefefe;
                background-image: linear-gradient(to bottom, #fefefe 0%, #fcfcfc 32%, #fafafa 36%, #f3f3f3 100%);

                .title{
                    flex: none;
                    padding-left: 12px;
                    margin-right: 5px;
                    font-weight: bold;
                    line-height: 18px;
                    background: transparent url('../img/editor/panel/expanded.svg') no-repeat left center;
                    background-size: 1em;
                    user-select: none;
                    cursor: pointer;
                    opacity: 0.8;
                }

                .selector{
                    flex: auto;
                    margin-right: 5px;

                    select{
                        width: 100%;
                        background: none;
                        border: none;

                        &:empty{
                            display: none;
                        }
                    }
                }

                .buttons{
                    flex: none;

                    button{
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        vertical-align: middle;
                        background-size: 1.25em;

                        &[data-action="previous"]{
                            background-image: url('../img/editor/panel/previous.svg');
                        }
                        &[data-action="next"]{
                            background-image: url('../img/editor/panel/next.svg');
                            margin-left: -1px;
                        }

                        &:hover{
                            opacity: 0.5;
                        }
                    }

                    .menu{
                        display: inline-block;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        margin-left: 10px;
                        padding-bottom: 2px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        vertical-align: middle;
                        cursor: pointer;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background: url('../img/editor/panel/menu.svg') no-repeat center center;
                            background-size: 1.25em;
                        }

                        .dropdown-menu{
                            display: none;
                            position: absolute;
                            right: 0;
                            top: 100%;
                            margin: 0px;
                            padding: 0px;
                            list-style: none;
                            background: #fff;
                            z-index: 999;
                            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
                            cursor: default;

                            li{
                                display: block;
                                min-width: 50px;
                                margin-bottom: -1px;
                                padding: 3px 4px;
                                font-size: 0.8em;
                                border: 1px solid #ccc;
                                text-align: right;
                                white-space: nowrap;
                                cursor: pointer;

                                &:hover{
                                    background: #eee;
                                }

                                &:active{
                                    opacity: 0.75;
                                }

                                &.disabled{
                                    pointer-events: none;
                                    background: none;
                                    opacity: 0.5;
                                }
                            }
                        }

                        &:hover{
                            opacity: 1;

                            &::after {
                                opacity: 0.5;
                            }

                            .dropdown-menu{
                                display: block;
                            }
                        }
                    }
                }
            }

            .fields{
                display: table;
                width: 100%;
                font-size: 0.9em;
                background: #fff;
                border-collapse: collapse;

                .field{
                    display: table-row;
                    border-bottom: 1px solid #b2b2b2;

                    label{
                        display: table-cell;
                        width: 130px;
                        padding: 5px;
                        color: #7b7b7b;
                        border-right: 1px solid #d7d7d7;
                        white-space: nowrap;
                    }

                    .input-wrapper{
                        display: table-cell;
                        margin: 0;
                        padding: 0;
                        vertical-align: middle;

                        input{
                            width: 100%;
                            height: 24px;
                            margin: 0;
                            padding: 0;
                            border: none;

                            &[type="checkbox"]{
                                width: auto;
                            }
                        }
                    }

                    &.warning{
                        label{
                            position: relative;

                            &::after{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0.25em;
                                pointer-events: none;
                                background: url('../img/editor/field/warning.svg') no-repeat right center;
                                background-size: 1em;
                            }
                        }
                    }

                    &.buttonsfield{
                        .input-wrapper{
                            background-repeat: repeat;

                            button{
                                float: left;
                                width: 20px;
                                height: 20px;
                                background-repeat: no-repeat;
                                background-position: center center;

                                &.pressed{
                                    background-color: #aaaaaa;
                                }
                            }
                        }
                    }

                    &.fontStyle{
                        border-bottom: none;
                    }
                }
            }

            &.has-component{
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 999;
                    animation: pulsate 0.5s ease-out 2 alternate;
                    pointer-events: none;
                }
            }

            &.locked{
                .imagefield{
                    button[data-action="resize"]{
                        opacity: 0.25;
                        cursor: default;
                        pointer-events: none;
                    }
                }
            }

            &.collapsed,
            &:not(.has-component),
            &.disabled{
                .toolbar{
                    .title{
                        background-image: url('../img/editor/panel/collapsed.svg');
                    }
                }

                .fields{
                    display: none;
                }
            }

            &:not(.has-component),
            &.disabled{
                .toolbar{
                    .title{
                        pointer-events: none;
                    }
                }
            }

            &.disabled{
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        &.modal{
            background: rgba(0, 0, 0, 0.5);
            pointer-events: auto;
        }

        > .inner{
            background: #fff;
            position: relative;

           > .toolbar{
                padding: 10px 16px;
                border-bottom: 2px solid #b2b2b2;
                background-color: #dadada;
                background-image: linear-gradient(to bottom, #dadada 0%, #c8c8c8 100%);

                .title{
                    float: left;
                    font-weight: bold;
                    color: #5d5d5d;
                }

                .buttons{
                    margin-left: 16px;
                    float: right;

                    button{
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        vertical-align: middle;

                        &[data-action="close"]{
                            background-image: url('../img/editor/overlay/close.png');
                        }
                    }
                }
            }

            > .contents{
                max-height: 75vh;
                overflow: auto;
            }
        }

        &.color-selector{
            > .inner{
                padding: 10px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                border-radius: 10px;

                > .contents{
                    overflow: hidden;

                    canvas{
                        display: block;
                    }

                    .gradient{
                        position: relative;
                        float: left;
                        cursor: crosshair;

                        .position{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 8px;
                            height: 8px;
                            margin: -6px 0 0 -6px;
                            border: 2px solid #000;
                            border-radius: 50%;
                            pointer-events: none;
                        }
                    }

                    .alpha{
                        position: relative;
                        float: left;
                        background: url('../img/editor/transparency-grid.png') repeat left top;

                        .position{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 10px;
                            height: 2px;
                            margin-top: -1px;
                            background: #000;
                            pointer-events: none;
                        }
                    }

                    .controls{
                        width: 80px;
                        float: left;
                        margin-left: 10px;
                        pointer-events: none;

                        input[type=number]{
                            width: 3em;
                            margin: 0.25em 0.5em;
                            border: 2px inset;
                            pointer-events: auto;
                        }

                        button{
                            width: 100%;
                            padding: 0.5em;
                            pointer-events: auto;
                        }

                        .canvas-wrapper{
                            height: 40px;
                            border: 1px solid #ccc;
                            background: url('../img/editor/transparency-grid.png') repeat left top;

                            &.current{
                                margin-top: 5px;
                            }

                            &.previous{
                                height: 10px;
                                margin-bottom: 5px;
                                margin-top: -1px;
                            }

                            canvas{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        &.border-radius{
            > .inner{
                > .contents{
                    padding: 12px 16px;

                    .preview{
                        position: relative;
                        width: 200px;
                        height: 200px;
                        margin: 50px 75px;
                        background: rgb(238, 238, 238);
                        border: 2px solid #0000fe;
                    }

                    .field{
                        position: absolute;
                        top: 0;
                        left: 0;

                        input{
                            width: 1.5em;
                        }

                        &.tlw,
                        &.trw{
                            top: -30px;
                        }
                        &.tlh,
                        &.blh{
                            left: -60px;
                        }
                        &.trw,
                        &.brw{
                            left: 158px;
                        }
                        &.trh,
                        &.brh{
                            left: 210px;
                        }
                        &.brw,
                        &.blw{
                            top: 210px;
                        }
                        &.brh,
                        &.blh{
                            top: 178px;
                        }
                    }

                    > button{
                        min-width: 60px;
                        margin-right: 0.5em;
                        padding: 0.5em;
                        background: #ccc;
                        pointer-events: auto;
                    }
                }
            }
        }

        &.guide-selector{
            > .inner{
                > .contents{
                    position: relative;
                    width: 50vw;
                    min-width: 600px;
                    min-height: 200px;
                    padding: 1em;

                    .overlay.loadmask.modal{
                        background: rgba(0, 0, 0, 0.25);
                    }

                    form.filters{
                        margin-bottom: 1em;

                        .field{
                            margin: 0.5em 0;

                            &.textfield{
                                input{
                                    width: 100%;
                                    box-sizing: border-box;
                                }
                            }

                            &.selectfield{
                                display: inline-block;
                                width: 48%;

                                &:nth-child(even){
                                    margin-right: 4%;
                                }

                                &[data-name^="sort_"]{
                                    width: auto;
                                }
                            }
                        }

                        button{
                            min-width: 60px;
                            margin-top: 1em;
                            margin-right: 0.5em;
                            padding: 0.5em;
                            pointer-events: auto;

                            &.reset{
                                background: #eee;
                            }
                        }
                    }

                    table.results{
                        width: 100%;

                        tr{
                            td.thumbnail{
                                padding: 1em;
                                vertical-align: middle;

                                img{
                                    display: inline-block;
                                    width: 155px;
                                    height: 123px;
                                    vertical-align: middle;
                                    background: #dadada url('../img/editor/default-thumbnail.png') no-repeat center center;
                                }
                            }

                            td.details{
                                width: 100%;
                                padding: 1em 1em 1em 0;
                                vertical-align: middle;

                                .title{
                                    margin: 0;
                                    font-weight: bold;
                                }

                                .description{
                                    margin: 0;
                                }

                                .tags{
                                    margin: 0.1em;
                                    font-size: 11px;
                                }

                                .author{
                                    margin: 0;
                                    font-size: 11px;
                                    font-weight: normal;
                                    color: #b2b2b2;

                                    em{
                                        font-size: 11px;
                                    }
                                }

                                .revision-wrapper{
                                    margin-top: 10px;
                                    display: flex;

                                    .revisions{
                                        display: flex;
                                        flex: 1;

                                        label{
                                            flex: 0 0 auto;
                                            padding-right: 0.5em;
                                            line-height: 2em;
                                        }

                                        .input-wrapper{
                                            flex: 1;

                                            select{
                                                width: 100%;
                                                height: 2em;

                                                optgroup{
                                                    &.archives{
                                                        option{
                                                            color: #b2b2b2;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    button[data-action="select"]{
                                        flex: 0 0 auto;
                                        height: 2em;
                                        padding: 0 1em;
                                    }
                                }
                            }

                            &:nth-child(odd){
                                background: #eee;
                            }
                            &:hover{
                                background: #ddd;
                            }
                        }
                    }

                    &.has-more{
                        &::after{
                            content: '';
                            display: block;
                            height: 4em;
                            background: #ffffff url('../img/editor/loader.gif') no-repeat center center;
                        }
                    }
                }
            }
        }

        &.guide-details,
        &.insert-link,
        &.insert-image,
        &.share{
            > .inner{
                > .contents{
                    min-width: 300px;
                    padding: 12px 16px;

                    .field{
                        display: block;
                        margin-bottom: 1em;

                        textarea{
                            width: 100%;
                            min-height: 5em;
                        }

                        > label{
                            display: block;
                            font-weight: bold;
                        }
                    }

                    button{
                        min-width: 60px;
                        margin-right: 0.5em;
                        padding: 0.5em;
                        pointer-events: auto;

                        &.cancel{
                            background: #eee;
                        }
                    }
                }
            }
        }

        &.guide-details{
            > .inner{
                > .contents{
                    min-width: 500px;

                    .field{
                        padding-left: 0.5em;
                        border-left: 2px solid #0000fe;

                        &.textfield{
                            input{
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }

                        &.textareafield{
                            textarea{
                                box-sizing: border-box;
                            }
                        }

                        &.checkboxesfield{
                            .checkbox-wrapper{
                                label{
                                    display: inline-block;
                                    font-weight: normal;
                                }
                            }
                        }
                    }

                    .info{
                        margin: 1em 0;
                        color: #cc0000;
                    }
                }
            }
        }

        &.insert-image{
            .size-wrapper{
                position: relative;

                .width,
                .height{
                    width: 50%;

                    input{
                        width: 100%;
                        box-sizing: border-box;
                    }
                }

                .size-buttons{
                    position: absolute;
                    margin-left: 55%;
                    margin-top: -8px;

                    .lock-ratio{
                        float: left;
                        margin-right: 10px;

                        input{
                            display: none;
                        }

                        label{
                            display: inline-block;
                            width:16px;
                            height:16px;
                            background: url('../img/editor/overlay/insert-image/lock-open.png') no-repeat center center;
                            cursor: pointer;
                        }

                        &.checked{
                            label{
                                background-image: url('../img/editor/overlay/insert-image/lock.png');
                            }
                        }
                    }

                    .reset-size{
                        float: left;
                        min-width: 0;
                        width:16px;
                        height:16px;
                        background: url('../img/editor/overlay/insert-image/reset.png') no-repeat center center;
                    }
                }
            }
        }

        &.share{
            > .inner{
                > .contents{
                    min-width: 500px;

                    .field[data-name="link"],
                    .field[data-name="embed"]{
                        input{
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }

                    .options{
                        margin-top: 0.5em;
                        padding: 1em;
                        background: rgba(0, 0, 0, 0.05);

                        .field.textfield{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;

                            label{
                                margin-right: 0.5em;
                            }

                            input{
                                width: 6em;
                            }
                        }

                        .field.checkboxfield{
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                            align-items: center;

                            .input-wrapper{
                                margin-right: 0.5em;

                                checkbox{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.iframe{
            > .inner{
                > .contents{
                    iframe{
                        min-width: 800px;
                        min-height: 500px;
                        border: none;
                    }
                }
            }
        }

        &.alert{
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
            border-radius: 10px;

            > .inner{
                > .contents{
                    padding: 12px 16px;
                    text-align: center;

                    .buttons{
                        margin-top: 1em;
                        text-align: center;

                        button{
                            min-width: 60px;
                            margin: 0 0.5em;
                            padding: 0.5em;
                            background: #ccc;

                            &[data-action="cancel"]{
                                opacity: 0.75;

                                &:hover{
                                    opacity: 0.4;
                                }
                            }
                        }
                    }
                }
            }

            &.delete-guide,
            &.delete-player-component{
                button[data-action="confirm"]{
                    opacity: 0.75;

                    &:hover{
                        opacity: 0.4;
                    }
                }
                button[data-action="cancel"]{
                    opacity: 1 !important;

                    &:hover{
                        opacity: 0.75 !important;
                    }

                }
            }
        }

        &.loadmask{
            > .inner{
                > .contents{
                    padding: 12px 16px 12px 45px;
                    background: #ffffff url('../img/editor/loader.gif') no-repeat 16px center;
                }
            }

            &.with-bar{
                > .inner{
                    > .contents{
                        min-width: 10em;
                        padding-left: 16px;
                        background-image: none;

                        .bar{
                            position: relative;
                            margin-top: 0.25em;
                            padding: 0.1em 0.5em;
                            background: #dadada;

                            .progress{
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                background: #0000fe;
                                transition: width 500ms ease-in-out;
                            }

                            .text{
                                position: relative;
                                font-size: 0.9em;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .contextmenu{
        position: absolute;
        z-index: 999999;

        ul{
            min-width: 150px;
            margin: 0 !important;
            padding: 0.25em 0 !important;
            list-style: none !important;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);

            li{
                position: relative;
                padding: 0.25em 1em !important;
                white-space: nowrap;
                color: #000;
                cursor: pointer;

                &:hover{
                    color: #fff;
                    background: #0000fe;
                }

                &.no-callback{
                    cursor: default;
                }

                &.disabled{
                    display: none;
                }

                &.separator{
                    height: 1px;
                    margin: 0.5em 0;
                    padding: 0 !important;
                    background: rgba(0, 0, 0, 0.1);
                    pointer-events: none;
                }

                &.has-subitems{
                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 1em;
                        width: 0;
                        height: 0;
                        margin-top: -0.1em;
                        content: '';
                        border-color: transparent transparent transparent #2f2f2f;
                        border-style: solid;
                        border-width: 0.4em 0 0.4em 0.4em;
                        transform: translateY(-50%);
                        z-index: 0;
                    }

                    ul{
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 99%;
                        z-index: 1;
                    }

                    &:hover{
                        &::after {
                            border-color: transparent transparent transparent #fff;
                        }

                        > ul{
                            display: block;

                            &.left{
                                left: auto;
                                right: 99%;
                            }
                        }
                    }
                }
            }
        }
    }

    &.editing{
        .main-menu{
             button{
                    &[data-action="edit-toggle"]{
                        opacity: 0.5;
                    }
             }
        }

        .workspace{
            .grid{
                display: block;
            }
        }
    }
}