@import "core/theme";

html,
body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

:local(.className){
    width: 100%;
    height: 100%;

    &:focus{
        outline: none;
    }

    .metaScore-component{
        position: absolute;
        top: 0;
        left: 0;

        &.media{
            &.audio{
                display: none;
            }

            &.video{
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 10px;
                min-height: 10px;
                overflow: hidden;
                background-color: rgb(0, 0, 0);
                border: 0px solid rgb(0, 0, 0);
                border-radius: 10px;

                .metaScore-renderer{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    user-select: none;

                    video,
                    .iframe-wrapper,
                    iframe{
                        display: block;
                        width: 100% !important;
                        height: 100% !important;
                    }

                    iframe{
                        pointer-events: none;
                    }

                    &.youtube{
                        .poster{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            background-color: #000;
                        }
                    }

                    /*&.vimeo{
                        padding-bottom: 56.25%;
                        height: 0;
                        overflow: hidden;
                        position: relative;

                        .iframe-wrapper{
                            position: relative;
                            padding-bottom: 200%;
                            transform: translateY(-35.95%);
                        }

                        iframe{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }*/
                }
            }
        }

        &.controller{
            width: 90px;
            height: 100px;
            overflow: hidden;
            color: rgb(221,221,221);
            background-color: rgb(204,204,204);
            font-weight: bold;
            font-size: 11px;
            border-radius: 10px;
            user-select: none;

            &:after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 100%;
                height: 17px;
                background-image: url('../img/logo-metaScore.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                opacity: 0.5;
            }

            .timer{
                text-align: center;
                line-height: 30px;
                background-color: rgb(0,0,254);
                cursor: default;
            }

            .buttons{
                position: relative;

                button{
                    position: absolute;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    background-image: url('../img/player/controller-buttons.png');
                    background-repeat: no-repeat;

                    &[data-action="rewind"]{
                        top: 22px;
                        left: 10px;
                        width: 10px;
                        height: 11px;
                        background-position: -16px -17px;
                    }

                    &[data-action="play"]{
                        top: 5px;
                        left: 23px;
                        width: 43px;
                        height: 43px;
                        background-position: -47px 0;
                    }
                }
            }

            &.playing{
                .buttons{
                    button{
                        &[data-action="play"]{
                            background-position: -94px 0;
                        }
                    }
                }
            }
        }

        &.block-toggler{
            min-width: 10px;
            min-height: 10px;
            width: 100px;
            height: 20px;
            overflow: hidden;
            background-color: rgb(238, 238, 238);
            border: 1px solid rgb(238, 238, 238);
            border-radius: 0px;

            .buttons{
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: row;
                align-items: stretch;
                align-content: stretch;

                .button{
                    flex: 1 1 0;
                    cursor: pointer;

                    svg{
                        width: 100%;
                        height: 100%;

                        rect{
                            opacity: 0.5;
                            fill: #CECECE;

                            &.current{
                                opacity: 1;
                                fill: #666666;
                            }
                        }
                    }

                    &.active{
                        opacity: 0.75;
                    }

                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }

        &.block{
            min-width: 10px;
            min-height: 10px;
            width: 200px;
            height: 200px;
            overflow: hidden;
            color: rgb(66, 66, 66);
            background-repeat: no-repeat;
            background-position: left top;
            background-size: contain;
            background-color: rgb(238, 238, 238);
            border: 1px solid rgb(204, 204, 204);
            font: normal 11px/normal Verdana, Arial, Helvetica, sans-serif;
            border-radius: 10px;
            isolation: isolate;

            button{
                padding: 0;
            }

            .pager{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 20px;
                background-color: rgba(214, 214, 214, 0.6);
                text-align: right;
                z-index: 2147483647;
                user-select: none;

                .count{
                    display: inline-block;
                    margin-right: 10px;
                    color: rgb(99, 99, 99);
                    font-size: 10px;
                    font-weight: bold;
                    vertical-align: middle;
                    cursor: default;
                }

                .buttons{
                    display: inline-block;
                    margin-right:    2px;
                    vertical-align: middle;

                    .button{
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        margin: 1px 2px;
                        background-color: rgb(255, 255, 255);
                        background-image: url('../img/player/pager-buttons.png');
                        background-repeat: no-repeat;
                        border-radius: 10px;
                        cursor: pointer;

                        &.inactive{
                            cursor: default;
                        }

                        &[data-action="first"]{
                            background-position: 4px 4px;

                            &.inactive{
                                background-position: 4px -14px;
                            }
                        }
                        &[data-action="previous"]{
                            background-position: -14px 4px;

                            &.inactive{
                                background-position: -14px -14px;
                            }
                        }
                        &[data-action="next"]{
                            background-position: -33px 4px;

                            &.inactive{
                                background-position: -33px -14px;
                            }
                        }
                    }
                }
            }

            &:hover{
                .pager{
                    display: block;
                }

                &[data-page-count="0"],
                &[data-page-count="1"]{
                    .pager{
                        display: none;
                    }
                }
            }
        }

        &.page{
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: left top;

            &.active{
                display: block;
            }
        }

        &.element{
            display: none;
            width: 50px;
            height: 50px;
            pointer-events: none;

            .contents{
                visibility: hidden;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: left top;
                background-size: contain;
                border: 0 solid rgb(0, 0, 0);
                box-sizing: border-box;
            }

            &.active{
                display: block;

                &:not([data-start-time]):not([data-end-time]),
                &.cuepointactive{
                    pointer-events: auto;

                    .contents{
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }

            &.Cursor{
                z-index: 9999;
                pointer-events: auto;

                canvas{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;

                    &.keyframes-editor{
                        &[data-state="add"]{
                            cursor: copy;
                        }

                        &[data-state="over"]{
                            cursor: move;
                        }

                        &[data-state="overlabel"]{
                            cursor: pointer;
                        }

                        &[data-state="invalid"]{
                            cursor: not-allowed;
                        }
                    }
                }

                &[data-form="circular"]{
                    .contents{
                        border-radius: 100% !important;
                    }
                }
            }

            &.Content{
                .contents{
                    overflow: auto;

                    .text{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &:focus{
            outline: none;
        }

        &[data-hidden="true"]{
            display: none !important;
        }
    }

    .contextmenu{
        ul{
            li{
                &.logo{
                    height: 36px;
                    background: transparent url('../img/logo-philharmonie.png') left center no-repeat;
                    background-size: contain;
                    margin: 0.5em 1em;
                }
            }
        }
    }

    /*
    * Special styles when embedded in editor
    * @todo : move to a seperate file to be auto-inserted by the Editor
    */
    &.in-editor{
        .resizable{
            .resize-handle{
                display: none;
            }
        }

        .metaScore-component{
            &.element{
                &.Cursor{
                    outline-color: $cursor-element-color;
                }

                &.Content{
                    outline-color: $content-element-color;
                }

                &.Animation{
                    outline-color: $animation-element-color;
                }
            }
        }

        &.editing{
            .draggable{
                &.drag-handle,
                .drag-handle{
                    cursor: move;
                }
            }

            .resizable > .resize-handle{
                display: block;
            }

            .metaScore-component{
                &.media,
                &.controller,
                &.block,
                &.block-toggler{
                    &.selected{
                        z-index: 2147483647 !important;
                        box-shadow: $block-color 0px 0px 4px 2px;
                    }

                    &:hover,
                    &.dragging{
                        .pager{
                            display: block !important;
                        }
                    }
                }

                &.block-toggler{
                    .button{
                        pointer-events: none;
                    }
                }

                &.element{
                    outline-width: 1px;
                    outline-style: dashed;
                    pointer-events: auto;

                    &.selected{
                        display: block;

                        &.Cursor{
                            box-shadow: $cursor-element-color 0px 0px 4px 1px;

                            &.resizing{
                                canvas{
                                    opacity: 0.25;
                                }
                            }
                        }

                        &.Content{
                            box-shadow: $content-element-color 0px 0px 4px 1px;

                            .contents{
                                &[contenteditable]{
                                    outline-color: $content-element-color;
                                    outline-width: 2px;
                                    outline-style: solid;
                                }
                            }
                        }

                        &.Animation{
                            box-shadow: $animation-element-color 0px 0px 4px 1px;
                        }
                    }

                    &.Content{
                        .contents{
                            user-select: none;

                            a{
                                pointer-events: none;
                            }
                        }

                        &.text-unlocked{
                            .contents{
                                visibility: visible;
                                pointer-events: auto;
                                user-select: auto;
                            }
                        }
                    }
                }
            }

            &.show-contents{
                .metaScore-component.element{
                    &.active{
                        .contents{
                            visibility: visible;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }
}