$metascore-color: rgb(0, 0, 254);

$block-color: rgb(51,49,47);
$cursor-element-color: rgb(255,0,60);
$content-element-color: rgb(0,193,118);
$animation-element-color: rgb(255,138,0);

$lightgray: #777;
$mediumgray: #606060;
$darkgray: #3f3f3f;

$scrollbar-track-color: #d8d8d8;
$scrollbar-width: 8px;
$scrollbar-thumb-color: #818181;
$scrollbar-thumb-active-color: $metascore-color;
$scrollbar-thumb-min-height: 8px;