$metascore-color: rgb(0, 0, 254);

$scrollbar-width: 8px;
$scrollbar-track-color: #818181;
$scrollbar-thumb-color: #d8d8d8;
$scrollbar-thumb-active-color: $metascore-color;
$scrollbar-thumb-min-height: 8px;

$white: #fff;
$lightgray: #777;
$mediumgray: #606060;
$darkgray: #3f3f3f;
$black: #000;

$danger: #dc3545;
$warning: #ffc107;

$component-colors: (
  default: rgb(51, 49, 47),
  page: rgb(0, 0, 254),
  cursor: rgb(255, 0, 60),
  content: rgb(0, 193, 118),
  media: rgb(238, 255, 0),
  svg: rgb(255, 0, 255),
  animation: rgb(255, 138, 0),
);