:local(.className){
    cursor: pointer;

    > .inner{
        height: 1.1em;
        line-height: 1.1em;
        padding: 0 0.5em;
        background: #ccc;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        pointer-events: none;

        .name{
            font-size: 0.75em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:empty{
                &::after{
                    content: '\00a0';
                }
            }
        }
    }

    &.selected > .inner{
        background: #ddd;
    }

    .sub-handles{
        padding-left: 0.5em;
        background: rgba(0, 0, 0, 0.25);
    }
}
