:local(.className){
    cursor: pointer;
    box-sizing: border-box;
    border-right: 1px solid #7b7b7b;
    user-select: none;

    > .inner{
        display: flex;
        height: 1.1em;
        padding: 0 0.5em;
        line-height: 1.1em;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        background: #ccc;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        pointer-events: none;

        .name{
            font-size: 0.75em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 1 auto;

            &:empty{
                &::after{
                    content: '\00a0';
                }
            }
        }
    }

    .descendents{
        display: none;
        padding-left: 0.5em;
        background: rgba(0, 0, 0, 0.25);

        .track-handle{
            border-right: 0;
        }
    }

    &.has-descendents{
        > .inner .expander{
            width: 0;
            height: 0;
            margin-right: 0.25em;
            margin-left: -0.25em;
            border-top: 0.25em solid transparent;
            border-left: 0.5em solid #333;
            border-bottom: 0.25em solid transparent;
            pointer-events: auto;
        }

        &.user-expanded,
        &.auto-expanded{
            > .inner .expander{
                transform: rotate(90deg);
            }

            > .descendents{
                display: block;
            }
        }
    }

    &.selected > .inner{
        background: #ddd;
    }
}
