.field.checkboxesfield{
    .checkbox-wrapper{
        input{
            margin: 0 0.5em 0 0;
            vertical-align: middle;
        }

        label{
            display: inline-block;
        }
    }

    &.readonly{
        .input-wrapper{
            pointer-events: none;
        }
    }
}