@import "../../theme";

:local(.className){
    .fields{
        .field{
            &[data-property="colors"]{
                width: 100%;
                justify-content: flex-start;

                .input {
                    flex: 0;

                    &.color {
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}