@import "../../theme";

:local(.className){
    h2{
        margin: 0;
        padding: 0.5em;
        font-size: 1em;
        font-weight: normal;
        border-bottom: 0.25em solid $mediumgray;
    }

    .fields{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5em;
        background: $lightgray;

        .input{
            &.text,
            &.number,
            &.borderradius{
                input{
                    width: 100%;
                    padding: 0.25em 0.5em;
                    box-sizing: border-box;
                    border-radius: 0;
                }
            }
        }

        .field{
            margin: 0.25em 0;

            > label{
                margin-right: 0.5em;
                flex: 0 0 auto;
                color: #fff;
                white-space: nowrap;
            }

            > .input{
                flex: 1;
            }

            &[data-property="name"]{
                flex: 100%;

                label{
                    display: none;
                }

                input{
                    border-radius: 0.25em;
                }
            }

            &[data-property="hidden"]{
                flex: 100%;
            }

            &[data-property="x"],
            &[data-property="y"],
            &[data-property="width"],
            &[data-property="height"]{
                display: flex;
                flex-direction: row;
                width: 45%;
            }

            &[data-property="border-radius"]{
                flex: 100%;
            }

            &.warning{
                label{
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0.25em;
                        pointer-events: none;
                        background: url('../../../img/editor/field/warning.svg') no-repeat right center;
                        background-size: 1em;
                    }
                }
            }
        }

        .border-fields{
            > label{
                margin-right: 0.5em;
            }

            .field{
                label{
                    display: none;
                }

                &[data-property="border-width"]{
                    width: 4em;
                    margin-left: 0.5em;
                }
            }
        }

        .separator{
            flex-basis: 100%;
            height: 1px;
            background: $darkgray;
        }
    }
}