@import '../../theme';

:local(.class-name) {
    .field {
        &[data-property*='marker-'] {
            .input {
                select {
                    text-align: center;
                }
            }
        }
    }

    .field-group.colors {
        width: 100%;
        justify-content: flex-start;

        .field {
            flex: 0;
        }
    }
}
