$component-colors: (
  default: rgb(51, 49, 47),
  page: rgb(0, 0, 254),
  cursor: rgb(255, 0, 60),
  content: rgb(0, 193, 118),
  image: rgb(255, 102, 255),
  media: rgb(238, 255, 0),
  svg: rgb(255, 0, 255),
  animation: rgb(255, 138, 0),
);